<!--Desktop Header Start-->
<div>
  <div class="header desktop" style="width: 100%; position: fixed">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-12 logo-width" style="width: 245px;height: 30px;">
          <div class="logo"> <a (click)="navigateToHomePage()"><img [src]="siteLogo"></a> </div>
        </div>
        <div class="col-md-9 col-sm-6 col-xs-12 mainmenu" style="margin-top: 3px">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <!-- This is the main menu -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <app-nav (_hasSubMenus)="__hasSubMenus($event)"
                #navItems
                [mainmenu]="mainmenu"
                [urlPath]="router.url"
              ></app-nav>
              <!-- <ul class="nav navbar-nav main-menu">
                <ng-template ngFor let-mm [ngForOf]="mainmenu" let-i="index">
                  <li [attr.data-index]="i+1" *ngIf="mm.name!='profile'" [ngClass]="mm.selected ? 'active' : '' ">
                    <a (click)="loadOptions(i,mm)" title={{mm.name}} id="{{mm.id}}" [ngClass]="isActive(i) ? 'active' : '' " >{{ mm.title | translate }}</a>
                  </li>
                </ng-template>
              </ul> -->
            </div>
          </nav>
        </div>
        <div style="float: right; margin-top: 11px">
          <div style="float: right;position: relative;">
            <div class="profile-av-wrap" (click)="toggleMenu($event)">
              <div class="profile-av">
              <div class="profile-av-thumb">{{userInitials}}</div>
            </div>
            </div>
            <!--<button style="background-color: transparent; border: none" (click)="toggleMenu($event)">
              <span class="prof-img" style="position: relative;top: -2px;margin-right: 20px; float:left;">
                  <i class="fa fa-user-circle" style="font-size: 2.7em"></i>
                </span>
              <span class="welcome-user-text-wrap" tooltiptitle="{{loggedInUser}} {{loggedInVendorTitle}}">
                <span class="welcome-txt">Welcome </span>
                <span class="welcome-user-text">{{loggedInUser}}</span>
                <span class="welcome-user-text" [style.opacity]="loggedInVendorTitle == '' ? 0  : ''">( {{loggedInVendor}} )</span>
                <i aria-hidden="true" class="fa fa-caret-down"></i></span>             
            </button>
              -->
            <div class="dropdown-content" [hidden]="!isMenuOpened">
              <a class="profile-wrap">
                <div class="user-name-profile">{{loggedInUser}}</div>
                <div class="vendor-name-profile" *ngIf="loggedInVendorTitle">( {{loggedInVendor}} )</div>
              </a>
              <a routerLink="/app/user-setting">User Settings</a>
              <a *ngIf="showManagePayments" routerLink="/app/manage-payments">Manage Payments</a>
              <a href="javascript:void(0)" (click)="resetPassword()">Change Password</a>
              <a href="javascript:void(0)" (click)="logout()">Log Out</a>
            </div>
          </div>
          <div class="org-dropdown theme-org-dropdown">
            <select disabled="disabled">
              <option>{{loggedInOrg}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom1">
      <div class="row">
          <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
          <!-- This is the sub menu -->
            <div class="collapse navbar-collapse" id="navbar-collapse-3">
              <!-- <ul class="nav navbar-nav bottom-menu">
                  <ng-template ngFor let-bmm [ngForOf]="subMenu" let-j="index" >
                    <li>
                      <a [routerLink]="bmm.url==''?['/organizationList']:['/'+bmm.url]" routerLinkActive="active-bar" [routerLinkActiveOptions]="{exact: false}" [ngClass]="bmm.sideBar?.length > 0 && routeActive ? 'active-bar submenuActive': bmm.selected && bmm.sideBar?.length <= 0? 'active-bar':''" title={{bmm.name}} id="{{bmm.id}}">{{bmm.title}}
                            &nbsp;&nbsp;<i *ngIf="bmm.url==''" class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </li>
                  </ng-template>
              </ul> -->
            </div>
        </nav>
      </div>
      </div>
    </div>
  </div>
  <div style="width:100%">
    <app-pop-up-modal #ResetPassword>
      <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
        Reset Password
      </div>
      <div class="app-modal-body">
        <div class="content">
          <form [formGroup]="resetForm" novalidate (keydown.enter)="$event.preventDefault()">
            <div class="form">
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">Old Password <span class="mandatory">*</span> </label>
                <input #oldPassword formControlName="old" [(ngModel)]="resetModel.old" type="password" class="col-lg-8 col-md-8 form-field"
                />
              </div>
              <div class="col-lg-12 col-md-12 form-field" *ngIf="resetForm.controls['old'].invalid && (resetForm.controls['old'].dirty || resetForm.controls['old'].touched)" class="alert alert-danger">
                <div *ngIf="resetForm.controls['old'].errors.required">
                  Old Password is required.
                </div>
              </div>
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">New Password <span class="mandatory">*</span> </label>
                <input formControlName="new" [(ngModel)]="resetModel.new" type="password" class="col-lg-8 col-md-8 form-field"/>
               </div>
              <div class="col-lg-12 col-md-12 form-field" *ngIf="resetForm.controls['new'].invalid && (resetForm.controls['new'].dirty || resetForm.controls['new'].touched)" class="alert alert-danger">
                <div *ngIf="resetForm.controls['new'].errors.required">
                  New Password is required.
                </div>
                <div *ngIf="resetForm.controls['new'].errors.pattern">
                  New Password requirements did not match: New Password should be at least 8 characters, a lowercase letter, an uppercase letter, a number.
                </div>
              </div>
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">Confirm New Password <span class="mandatory">*</span> </label>
                <input formControlName="confirm" [(ngModel)]="resetModel.confirm" type="password" class="col-lg-8 col-md-8 form-field"/>
              </div>
              <div class="col-lg-12 col-md-12 form-field" *ngIf="resetForm.controls['confirm'].invalid && (resetForm.controls['confirm'].dirty || resetForm.controls['confirm'].touched)" class="alert alert-danger">
                <div *ngIf="resetForm.controls['confirm'].errors.required">
                  Confirm New Password is required.
                </div>
              </div>
              <div class="col-lg-12 col-md-12 form-field" *ngIf="resetForm.errors?.confirmMatch && (resetForm.touched || resetForm.dirty)"
              class="alert alert-danger">
                 Confirm New Password did not match with New Password.
              </div>
              <div *ngIf="error" style="text-align: center">
                <span style="color: red">{{error}}</span>
              </div>
              <div *ngIf="success" style="text-align: center">
                <span style="color: green">{{success}}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="app-modal-footer">
        <button type="button" [disabled]="!resetForm.valid" class="btn btn-primary" (click)="OnReset(ResetPassword)">
          Reset
        </button>
        <button type="button" class="btn btn-secondary" (click)="handleCloseModal(ResetPassword)">
          Cancel
        </button>
      </div>
    </app-pop-up-modal>
  </div>
</div>

<!--End Desktop Header-->
