<div>
    <div class="col-lg-12 col-md-12">
        <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">{{isExistingOrder ? 'MODIFY ' : 'CONFIGURE '}} PAYMENT</p>
    </div>
    <p style="clear: both"></p>
    <div class="col-lg-2 col-md-2 col-sm-2" style="border: 1px solid #fff; background: #fff; border-radius: 4px">
        <ul style="list-style: none">
            <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a href="javascript:void(0)" routerLink="/app/order">Create Order</a></li>
            <!--<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Configure AD</a></li>-->
            <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a href="javascript:void(0)" routerLink="/app/targetAud">Target Audience</a></li>
            <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a href="javascript:void(0)" routerLink="/app/orderSummary">Summary</a></li>
            <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Payment</a></li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9" style="border-radius: 4px">
        <div style="background: #fff; padding: 10px 0px">
            <div style="margin-bottom: 10px; margin-left: 15px">
                <input type="radio" name="payment" value="default" (change)="paymentTypeSelection('default')" style="margin-right: 10px"/> Pay By CC/ACH
                <div [hidden]="selectionType !== 'default'">
                    <div id="fs_widget">
                    </div>
                </div>
            </div>
            <div style="margin-left: 15px">
                <input type="radio" name="payment" value="loan" (change)="paymentTypeSelection('loan')" style="margin-right: 10px"/> Apply for business loan
                <div [hidden]="selectionType !== 'loan'">
                    <div>
                        <label class="col-lg-2 col-md-2 col-sm-12" style="margin-top: 20px;">Personal Details</label>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">Full Name</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">Gender</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <select2 width="100%" placeholder="Select"
                                             class="col-lg-4 col-md-4"
                                             style="padding: 0px; line-height: 1.42857143; width: 160px"
                                             [data]="[{id: '1', text: 'Male'}, {id: '2', text: 'Female'}]"></select2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">Age</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">Street Address</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">City</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">State</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style=" margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">Zip Code</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style=" margin-top: 20px">
                            <div>
                                <label class="col-lg-2 col-md-2 col-sm-12">Country</label>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -8px">
                                    <input type="text" class="input-form-control" style="height: 29px"/>
                                </div>
                            </div>
                        </div>
                        <p style="clear: both"></p>

                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <button class="btn btn-primary">CANCEL</button>
            <!--[disabled]="form && !form.valid"-->
            <button class="btn btn-primary"
                    style="text-transform: none">
                SAVE
            </button>
        </div>
    </div>
</div>




<!--<div>-->
    <!--<div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">-->
        <!--<p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">Payment</p>-->

    <!--</div>-->
    <!--<p style="clear: both"></p>-->
    <!--<div style="margin-left: 10px">-->
        <!---->
    <!--</div>-->
<!--</div>-->

<app-script-embedder src="https://static.fusionseven.net/widget/widget_dev.js" type="text/javascript"></app-script-embedder>
