@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#login-bg-image {
    background: #252425;
    //background: url(../../../assets/images/login_background_dark.jpg) no-repeat;
    background-size: cover;
}
.login-bg-image {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
}
.login-container{
    margin-top: 10%;
}

.login-container {
    .col-equal-height{
        @include flexbox;
    }
    .formErrorContainer{
        margin-bottom: 2em;
        i{
        padding-right: 5px;
        }
    }
    .logoWrapper{
        background: #404041;
        //background-color: rgb(29,38,45);
        padding: 2em;
        align-items: center;
        @include flexbox;
        img{
        max-width: 20%;
        margin: auto;
        display: block;
        }
        .logo-text {
            max-width: 80%;
        }
    }
    .loginFormWrapper {
        background-color: #fff;
        padding: 6em 0;
        .form-group{
        width: 100%;
        margin-bottom: 15px;
        }
        input.form-control{
        border-radius: 4px;
        }
        button.btn{
        padding: 10px 25px;
        line-height: 1;
        border-radius: 5px;
        width: 100%;
        background: #4e9b49;
        color: #fff
        //margin-right: 0px;
        }
        span.forgotLink{
        //color: #3FA8F4;
        cursor: pointer;
        font-size: 12px;
        }
    }
}
.version {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #999;
    font-size: 12px;
}
.fpmb-10{
    margin-bottom: 10px;;
}

@media (max-width: 767px) {
    .col-equal-height{
        display: block !important;
    }
    .loginFormWrapper{
        padding: 3em 0 !important;
    }
}
