<div>
  <div class="col-lg-12 col-md-12">
    <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">{{isExistingOrder ? '' : '' }} ORDER SUMMARY</p>
  </div>
  <p style="clear: both"></p>
  <div class="col-lg-2 col-md-2 col-sm-2" style="border: 1px solid #fff; background: #fff">
    <ul style="list-style: none">
      <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a href="javascript:void(0)" routerLink="/app/order">Create Order</a></li>
      <!--<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Configure AD</a></li>-->
      <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a href="javascript:void(0)" routerLink="/app/targetAud">Target Audience</a></li>
      <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Summary</a></li>
      <li style="margin-top: 20px"><span>Payment</span></li>
    </ul>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12" style="margin-left: 15px;">
    <div style="background: #fff">
      <label style="padding: 0px; margin: 10px 0px 20px 15px; font-size: 16px"><span style="border-bottom:3px solid #38A6F7;">ORDER</span></label>
      <div style="margin-left: 15px">
        <div style="padding: 0px;margin: 10px 0px 0px 0px;" class="col-lg-12 col-md-12 col-sm-12">
          <label class="col-lg-2 col-md-2 col-sm-12">Order ID</label>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <span>123</span>
          </div>
        </div>
        <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
          <label class="col-lg-2 col-md-2 col-sm-12">Target Budget</label>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <span>12123</span>
          </div>
        </div>
        <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
          <label class="col-lg-2 col-md-2 col-sm-12">Start Date</label>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <span>2019-12-09</span>
          </div>
        </div>
        <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
          <label class="col-lg-2 col-md-2 col-sm-12">End Date</label>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <span>2019-12-31</span>
          </div>
        </div>
        <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
          <label class="col-lg-2 col-md-2 col-sm-12">Product Category</label>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <span>Category 1</span>
          </div>
        </div>
      </div>
      <p style="clear: both"></p>
      <label style="padding: 0px; margin: 30px 0px 20px 15px; font-size: 16px"><span style="border-bottom:3px solid #38A6F7;">LINE ITEMS</span></label>
        <div [style.marginBottom]="i !== (lineItems.length - 1) ? '30px' : '0px'" style="margin-left: 15px; background: #FBFAFB; margin-right: 15px" *ngFor="let item of lineItems; let i = index;">
          <!--<label style="padding: 0px; margin: 10px 0px 20px 15px; font-size: 14px">{{i+1}}</label>-->
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Channel</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>{{item.name}}</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Start Date</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>2019-12-10</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">End Date</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>2019-12-30</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Budget</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>$10,000</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Inventory</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span><a href="javascript:void(0)">View</a></span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Age</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>21</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Location</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>North America</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Gender</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>Male</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Language</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>English</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Interest</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>Electronics</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Target Email List</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span><a href="javascript:void(0)">View</a></span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Plan</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <span>First Party Data Plan 1 ( $3000 )</span>
            </div>
          </div>
          <div style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
            <label class="col-lg-2 col-md-2 col-sm-12">Campaign Goal</label>
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0px">
                <span>Impressions - 1000</span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12" style="padding-left: 0px">
                <span>Clicks - 20%</span>
              </div>
            </div>
          </div>
          <p style="clear: both"></p>
        </div>
         <p style="clear: both"></p>
    </div>
    <div style="margin-top: 15px;">
      <button class="btn btn-primary">CANCEL</button>
      <button class="btn btn-primary" style="text-transform: none" (click)="OnSubmit()">
        SAVE
      </button>
    </div>
  </div>
