<div [style.display]="hideTable ? 'none' : 'block'">
  <div class="col-lg-12 col-md-12">
    <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">INVOICES</p>
    <div class="pull-right">
      <a (click)="reLoad()" class="button btn btn-success" style="background-color: #0777bc"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
    </div>
  </div>
  <div *ngIf="isRoot">
    <label class="col-xs-12 col-sm-2">Select Org: </label>
    <div class="col-xs-12 col-sm-6">
      <select [(ngModel)]="orgValue" class="form-control" (change)='orgChange(orgValue)'>
        <option [value]="''" >All</option>
        <option *ngFor="let org of orgArr" [value]="org.id">
          {{ org.text }}
        </option>
      </select>
    </div>
  </div>
  <div class="">
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 identity="invoices"
       height="48vh"
      [dataObject]="dataObject"
      [sendResponseOnCheckboxClick]=true
      (triggerActions)="handleRow($event)">
    </app-data-table2>
    </div>
    <div class="clearfix"></div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to display.</div>
    </div>
  </div>
</div>
<div style="position: relative" *ngIf="hideTable">
  <div class="pull-right" style="position: absolute; right: 0; z-index: 1">
    <a (click)="showInvoices()" class="button btn btn-success" style="background-color: #0777bc"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to invoices</a>
  </div>
  <app-invoice [orgId]="orgValue" [invoiceId]="selectedInvoice" [invoiceNumber]="selectedInvoiceNumber"></app-invoice>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
<app-pop-up-modal #AddPayment>
  <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
    Pay Invoice
  </div>
  <div class="app-modal-body">
    <div class="content" style="height: 50vh">
      <label>Memo</label>
      <div>
        <textarea style="height: 150px; width: 100%" [(ngModel)]="memo"></textarea>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="action-btn" (click)= "OnPay(AddPayment)">
      Submit
    </button>
    <button type="button" class="inaction-btn" (click)="handleCloseModal(AddPayment)">
      Cancel
    </button>
  </div>
</app-pop-up-modal>
