.alert-msg-dash{
    width: 97%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .alert-msg-dash .alert-warning{
    margin-bottom: 15px;
  }
  .fs-12{
    font-size: 12px;
  }
  .alert-msg-dash .close{
    top: 5px;
    right: 0px;
  }