<div [style.display]="hideTable ? 'none' : 'block'">
  <div class="col-lg-12 col-md-12">
    <p class="pull-left page-title">ORDERS</p>
    <div class="alert-btn type-create pull-right">
      <a class="btn btn-primary" *ngIf="allowOrderFunctionality !== 'false'" [attr.disabled]="!hasTemplates ? 'disabled' : null" href="javascript:void(0)" (click)="navigate()">Create New Order</a>
      <a (click)="reLoad()" class="btn btn-secondary"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
    </div>
  </div>
  <div *ngIf="isRoot">
    <label class="col-xs-12 col-sm-2" style="position: relative; top: 7px">Select Org: </label>
    <div class="col-xs-12 col-sm-6">
      <!--<select [(ngModel)]="orgValue" class="form-control" (change)='orgChange(orgValue)'>-->
        <!--&lt;!&ndash;<option [value]="''" >All</option>&ndash;&gt;-->
        <!--<option *ngFor="let org of orgArr" [value]="org.id">-->
          <!--{{ org.text }}-->
        <!--</option>-->
      <!--</select>-->
      <select2 width="resolve" *ngIf="orgArr.length"
               class="col-lg-12 col-md-12"
               style="padding: 0px; min-width: 200px"
               [value]="orgValue"
               [options]="select2Options"
               (valueChanged)="OnOrgChange($event);"
               [data]="orgArr"></select2>
    </div>
  </div>
  <!--<div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">-->
  <!--<button type="submit"-->
  <!--[attr.disabled]="!selectedRow ? '' : null"-->
  <!--class="btn action-btn"-->
  <!--(click)="redirectToModifyOrderPage()">-->
  <!--Modify-->
  <!--</button>-->
  <!--<button type="button"-->
  <!--[attr.disabled]="!selectedRow ? '' : null"-->
  <!--class="btn action-btn"-->
  <!--(click)="cancelOrder()">-->
  <!--Cancel-->
  <!--</button>-->
  <!--</div>-->
  <div class="">
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 identity="orders"
                       height="48vh"
                       [dataObject]="dataObject"
                       [sendResponseOnCheckboxClick]=true
                       (triggerActions)="handleRow($event)">
      </app-data-table2>
      <!--<app-data-table1 [dataObject]="dataObject" [id]="dashboard" [height]="height"></app-data-table1>-->
    </div>
    <div class="clearfix"></div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%; margin-top: 10px">There is no data to display.</div>
    </div>
  </div>
</div>

<div style="width:100%">
  <app-pop-up-modal #ReceiptsList>
    <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
      List of Receipts to download
    </div>
    <div class="app-modal-body">
      <div class="content">
        <div class="row text-center" style="font-size:13px;">
          <div class="col-md-2 font-weight-bold">Order ID</div>
          <div class="col-md-2 font-weight-bold">Lind Item ID</div>
          <div class="col-md-2 font-weight-bold">Start Date</div>
          <div class="col-md-2 font-weight-bold">End Date</div>
          <div class="col-md-2 font-weight-bold">Download Link</div>
        </div>
        <div class="row text-center" *ngFor="let rec of receiptList" style="margin-top:15px;">
          <div class="col-md-2 font-size-larger">{{rec.order_id}}</div>
          <div class="col-md-2 font-size-larger">{{rec.line_item_id}}</div>
          <div class="col-md-2 font-size-larger">{{rec.start_date}}</div>
          <div class="col-md-2 font-size-larger">{{rec.end_date}}</div>
          <div class="col-md-2 font-size-larger">
            <a
                    class="fa fa-download fa-action-view downloadLink"
                    (click)="handleDownloadLink(rec)"
                    title="Download"
                    style="margin-right: 15px; cursor: pointer"
            >
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" (click)="receiptsList.hide()">
        Close
      </button>
    </div>
  </app-pop-up-modal>
</div>

<div style="width:100%">
  <app-pop-up-modal #PayoutDate>
    <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
       Line Item : {{selectedDisplayLineItemID ? selectedDisplayLineItemID : selectedLineItemID}}
    </div>
    <div class="app-modal-body">
      <div class="content">
        <label>Payout Date</label>
        <div>
          <input class="input-form-control"
                 a2e-datetimepicker
                 [(ngModel)]="selectedPayoutDate"
                 [options]="dateOptions"/>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" (click)="handleSubmitPayoutDate()">
        Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="handleClosePayoutDate()">
        Cancel
      </button>
    </div>
  </app-pop-up-modal>
</div>

<div style="position: relative" *ngIf="hideTable">
  <div class="pull-right" style="position: absolute; right: 0; z-index: 1">
    <a (click)="showOrders()" class="btn btn-secondary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Orders</a>
  </div>

  <div *ngIf="isHistory; else regular">
    <app-line-item-history *ngIf="selectedLineItemID" [lineItemID]="selectedLineItemID" [displayLineItemID]="selectedDisplayLineItemID"></app-line-item-history>
  </div>
  <ng-template #regular>
    <app-order-dashboard *ngIf="selectedOrderID && selectedLineItemID" [vendorUuid]="selectedVendorUuid" [orderID]="selectedOrderID" [lineItemID]="selectedLineItemID" [displayOrderID]="selectedDisplayOrderID"></app-order-dashboard>
  </ng-template>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
