<div [style.display]="hideTable ? 'none' : 'block'">
  <div class="col-lg-12 col-md-12">
    <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">ORDERS</p>
    <!--<div class="alert-btn type-create pull-right">-->
      <!--<a title="create" class="button btn btn-primary" routerLink="/app/order" href="javascript:void(0)">CREATE NEW ORDER</a>-->
    <!--</div>-->
    <div class="pull-right">
      <a (click)="reLoad()" class="button btn btn-success" style="background-color: #0777bc"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
    </div>
  </div>
  <div *ngIf="isRoot">
    <label class="col-xs-12 col-sm-2" style="position: relative; top: 7px">Select Org: </label>
    <div class="col-xs-12 col-sm-6">
      <select [(ngModel)]="orgValue" class="form-control" (change)='orgChange(orgValue)'>
        <option [value]="''" >All</option>
        <option *ngFor="let org of orgArr" [value]="org.id">
          {{ org.text }}
        </option>
      </select>
    </div>
  </div>
  <!--<div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">-->
    <!--<button type="submit"-->
      <!--[attr.disabled]="!selectedRow ? '' : null"-->
      <!--class="btn action-btn"-->
      <!--(click)="redirectToModifyOrderPage()">-->
      <!--Modify-->
    <!--</button>-->
    <!--<button type="button"-->
      <!--[attr.disabled]="!selectedRow ? '' : null"-->
      <!--class="btn action-btn"-->
      <!--(click)="cancelOrder()">-->
      <!--Cancel-->
    <!--</button>-->
  <!--</div>-->
  <div class="">
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 identity="orders"
       height="48vh"
      [dataObject]="dataObject"
      [sendResponseOnCheckboxClick]=true
      (triggerActions)="handleRow($event)">
    </app-data-table2>
      <!--<app-data-table1 [dataObject]="dataObject" [id]="dashboard" [height]="height"></app-data-table1>-->
    </div>
    <div class="clearfix"></div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%; margin-top: 10px">There is no data to display.</div>
    </div>
  </div>
</div>
<div style="position: relative" *ngIf="hideTable">
  <div class="pull-right" style="position: absolute; right: 0; z-index: 1">
    <a (click)="showOrders()" class="button btn btn-success" style="background-color: #0777bc"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Orders</a>
  </div>
  <app-order-dashboard [orderID]="selectedOrderID" [lineItemID]="selectedLineItemID"></app-order-dashboard>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
