<div class="row">
  <div class="col-xs-12">
    <p class="heading">{{ editTemplate ? 'Modify Order Template' : 'Create Order Template'}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="templateForm" (ngSubmit)="onSubmitTemplate()" class="templateForm">
      <!-- template name -->
      <div class="form-group-fields row" *ngIf="isPublished">
        <p class="col-xs-12 margin15">This is a <strong>Published Template</strong>. Editing of this template is not allowed.</p>
        <br>
      </div>
      <div class="form-group-fields row">
        <label for="templateName" class="col-xs-12 col-sm-2">Template Name</label>
        <div class="col-xs-12 col-sm-6">
          <input type="text" placeholder="Template Name" class="form-control" aria-label="templateName" formControlName="templateName">
        </div>
        <div class="col-lg-8 col-md-8 form-field alert alert-danger" *ngIf="templateForm.get('templateName').invalid && (templateForm.get('templateName').dirty || templateForm.get('templateName').touched)">
          <div *ngIf="templateForm.get('templateName').errors['required']">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Please enter a Template Name.
          </div>
        </div>
        <div class="publishWrapper" *ngIf="isPublished"></div>
      </div>
      <!-- organization name -->
      <div class="form-group-fields row">
        <label for="organization" class="col-xs-12 col-sm-2">Organization</label>
        <div class="col-xs-12 col-sm-6">
          <select formControlName="orgName" class="form-control">
            <option [value]="null" disabled>Choose organization</option>
            <option *ngFor="let org of organizations" [value]="org.id">
              {{ org.text }}
            </option>
          </select>
        </div>
        <div class="col-lg-8 col-md-8 form-field alert alert-danger" *ngIf="templateForm.get('orgName').invalid && (templateForm.get('orgName').dirty || templateForm.get('orgName').touched)">
          <div *ngIf="templateForm.get('orgName').errors['required']">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Please enter an Organization Name.
          </div>
        </div>
        <div class="publishWrapper" *ngIf="isPublished"></div>
      </div>
      <!-- order form builder start -->
      <div class="form-group-fields row">
        <div class="col-xs-12 col-sm-2">
          <p class="sub-heading">Select Order Template</p>
        </div>
        <div class="col-xs-12 col-sm-10">
          <p>Customize the field(s) by drag and drop below fields in the 'Drop Here' area. Use <i class="fa fa-ellipsis-v dndHandle" style="font-size: 16px; margin: 0px 5px"></i> to rearrange. </p>
          <p>All the core fields marked with asterix(*) symbol should be included in the template.</p>
          <div class="order-container">
            <app-customformbuilder #orderForm [editTemplate]="editTemplate" [fieldData]="orderFieldsArr" [builderFor]="'order'"></app-customformbuilder>
          </div>
        </div>
        <div class="publishWrapper" *ngIf="isPublished"></div>
      </div>
      <!-- order form builder end -->

      <!-- lineitem form builder start -->
      <div class="form-group-fields row">
        <div class="col-xs-12 col-sm-2">
          <p class="sub-heading">Select Line Item Template</p>
        </div>
        <div class="col-xs-12 col-sm-10">
          <p>Customize the field(s) by drag and drop below fields in the 'Drop Here' area. Use <i class="fa fa-ellipsis-v dndHandle" style="font-size: 16px; margin: 0px 5px"></i> to rearrange. </p>
          <p>All the core fields marked with asterix(*) symbol should be included in the template.</p>
          <div class="lineitem-container">
            <app-customformbuilder #lineItemForm [editTemplate]="editTemplate" [fieldData]="lineFieldsArr" [builderFor]="'lineitem'"></app-customformbuilder>
          </div>
        </div>
        <div class="publishWrapper" *ngIf="isPublished"></div>
      </div>
      <!-- lineitem form builder end -->
      <div class="form-group-fields row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
          <div *ngIf="!isPublished">
            <button class="btn btn-primary" type="submit"  [disabled]="!templateForm.valid"> Save </button>
            <button *ngIf="editTemplate" class="btn btn-primary" type="button" [disabled]="!templateForm.valid" (click)="onPublishForm()"> Publish </button>
          </div>
          <div *ngIf="isPublished">
            <button class="btn btn-primary" type="button"  [disabled]="!templateForm.valid" (click)="cloneForm()"> Clone </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<app-custom-spinner class="page-spinner" *ngIf="showSpinner"></app-custom-spinner>
