<div>
    <div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">
        <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">Support</p>
    </div>
    <div class="col-lg-12 cold-md-12 col-sm-12">
        <div style="margin-left: 19px; padding-bottom: 20px">
            <label>Search By </label>
            <div style="display: inline-block; position: relative; top: 9px">
                <select2 *ngIf="searchOptions.length" width="50%" placeholder="Select Type"
                class="col-lg-4 col-md-4"
                style="padding: 0px; line-height: 1.42857143"
                [value]="searchType"
                (valueChanged)="OnSearchChange($event);"
                [data]="searchOptions"></select2>
            </div>
            <input style="width: 60%; padding-left: 5px; padding-right: 20px"
                   type="text"
                   class="form-fields adhoc-report-input-box"
                   #searchField
                   placeholder="Search"
                   [(ngModel)]='searchcontent'>
            <span (click)="clearSearch()" style="position: relative; left: -20px; cursor: pointer"><i class="fa fa-close"></i></span>
            <div *ngIf="matchingResults.length; else noMatch" style="position: absolute; height: 200px; overflow: scroll; background-color: white; width: 57.1%; z-index: 10000; margin-left: 167px; border: 1px solid #cbcbcb; border-top: none">
                        <ul style="list-style: none; padding-left: 5px">
                          <li class="matching-results" *ngFor="let ele of matchingResults; let i = index;">
                              <span style="display: block" (click)="OnSearchSelect(ele)">{{ searchType === 'vendor' ? ( ele.id + ' - ' + ele.name ) : ele.name }}</span>
                          </li>
                        </ul>
            </div>
            <ng-template #noMatch>
                <div *ngIf="this.searchcontent" style="position: absolute; height: 200px; overflow: scroll; background-color: white; width: 57.1%; z-index: 10000; margin-left: 167px; border: 1px solid #cbcbcb; border-top: none">
                    <span *ngIf="!inSearchMode; else searching" style="font-size: 12px; padding-left: 5px">No Match Found</span>
                    <ng-template #searching>
                        <span style="font-size: 12px; padding-left: 5px">Searching ...</span>
                    </ng-template>
                </div>
            </ng-template>
            <p style="clear: both"></p>
        </div>
        <div *ngIf="searchType === 'vendor' && selectedVendor">
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Selected Vendor : </label>
                <span class="col-lg-9 col-md-9">{{selectedVendorName}}</span>
            </div>
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Selected Vendor UUID : </label>
                <span class="col-lg-9 col-md-9">{{selectedVendorUUID}}</span>
            </div>
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Pending AP : </label>
                <span class="col-lg-9 col-md-9">{{pendingAP}}</span>
            </div>
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Pending AR : </label>
                <span class="col-lg-9 col-md-9">{{pendingAR}}</span>
            </div>
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Available Balance : </label>
                <span class="col-lg-9 col-md-9">{{availableBalance}}</span>
            </div>
            <!--<div style="padding-left: 0px" class="col-lg-12 col-md-12">-->
                <!--<label class="col-lg-3 col-md-3">Payment Methods : </label>-->
                <!--<div class="col-lg-9 col-md-9" *ngIf="paymentMethods.length; else noPayments">-->
                    <!--<div *ngFor="let ele of paymentMethods; let i = index;" style="margin-bottom: 10px">-->
                        <!--<label>Payment Method</label><span style="margin-left: 5px">{{ele.payment_method}}</span><br>-->
                        <!--<label>Last 4 digits</label><span style="margin-left: 5px">{{ele.last_four_digits}}</span><br>-->
                        <!--<label>Payment Status</label><span style="margin-left: 5px">{{ele.status}}</span><br>-->
                        <!--<label>Default</label><span-->
                            <!--style="margin-left: 5px">{{(ele.is_default == 1 ? 'Yes' : 'No')}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<ng-template #noPayments>-->
                    <!--<span class="col-lg-9 col-md-9"> No Payments Found</span>-->
                <!--</ng-template>-->
            <!--</div>-->
        </div>
        <div *ngIf="searchType === 'order' && selectedOrder">
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Selected Order ID : </label>
                <span class="col-lg-9 col-md-9">{{selectedOrderID}}</span>
            </div>
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Selected Line Item ID : </label>
                <span class="col-lg-9 col-md-9">{{selectedOrderLineItemID}}</span>
            </div>
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Selected Channel : </label>
                <span class="col-lg-9 col-md-9">{{selectedOrderChannel}}</span>
            </div>
            <!--<div style="padding-left: 0px" class="col-lg-12 col-md-12">-->
                <!--<label class="col-lg-3 col-md-3">Payment Methods : </label>-->
                <!--<div class="col-lg-9 col-md-9" *ngIf="paymentMethods.length; else noPayments">-->
                    <!--<div *ngFor="let ele of paymentMethods; let i = index;" style="margin-bottom: 10px">-->
                        <!--<label>Payment Method</label><span style="margin-left: 5px">{{ele.payment_method}}</span><br>-->
                        <!--<label>Last 4 digits</label><span style="margin-left: 5px">{{ele.last_four_digits}}</span><br>-->
                        <!--<label>Payment Status</label><span style="margin-left: 5px">{{ele.status}}</span><br>-->
                        <!--<label>Default</label><span-->
                            <!--style="margin-left: 5px">{{(ele.is_default == 1 ? 'Yes' : 'No')}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<ng-template #noPayments>-->
                    <!--<span class="col-lg-9 col-md-9"> No Payments Found</span>-->
                <!--</ng-template>-->
            <!--</div>-->
        </div>
        <p style="clear: both"></p>
        <div style="padding-left: 0px" class="col-lg-4 col-md-4" *ngIf="searchType === 'vendor'">
            <span>Orders</span>
            <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObjectOrders.isDataAvailable">
                <app-data-table2 [dataObject]="dataObjectOrders"
                                 (triggerActions)="this[$event.action]($event)"></app-data-table2>
            </div>
            <div class="page-header" style="margin-left: 0px" *ngIf="!dataObjectOrders.isDataAvailable">
                <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to
                    display.
                </div>
            </div>
        </div>
        <div style="padding-left: 0px" class="col-lg-4 col-md-4" *ngIf="searchType === 'vendor'">
            <span>Payment Methods</span>
            <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObjectPaymentMethods.isDataAvailable">
                <app-data-table2 [dataObject]="dataObjectPaymentMethods"
                                 (triggerActions)="this[$event.action]($event)"></app-data-table2>
            </div>
            <div class="page-header" style="margin-left: 0px" *ngIf="!dataObjectPaymentMethods.isDataAvailable">
                <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to
                    display.
                </div>
            </div>
        </div>
        <div style="padding-left: 0px" class="col-lg-4 col-md-4" *ngIf="searchType === 'vendor'">
            <span>Transactions</span>
            <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObjectPayments.isDataAvailable">
                <app-data-table2 [dataObject]="dataObjectPayments"
                                 (triggerActions)="this[$event.action]($event)"></app-data-table2>
            </div>
            <div class="page-header" style="margin-left: 0px" *ngIf="!dataObjectPayments.isDataAvailable">
                <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to
                    display.
                </div>
            </div>
        </div>
        <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
    </div>
</div>

