<div [style.display]="hideSummary ? 'none' : 'block'">
    <div class="col-lg-12 col-md-12">
        <!--<p class="pull-left page-title">ORDERS V2</p>-->
        <div class="alert-btn type-create pull-right">
            <a class="btn btn-primary" *ngIf="allowOrderFunctionality !== 'false' && isUser"
               [attr.disabled]="!hasTemplates ? 'disabled' : null" href="javascript:void(0)" (click)="navigate()">Create
                New Order</a>
            <a (click)="reLoad()" class="btn btn-secondary"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
        </div>
    </div>
    <div *ngIf="isRoot">
        <label class="col-xs-12 col-sm-1" style="position: relative; top: 7px">Select Org: </label>
        <div class="col-xs-12 col-sm-6">
            <!--<select [(ngModel)]="orgValue" class="form-control" (change)='orgChange(orgValue)'>-->
            <!--&lt;!&ndash;<option [value]="''" >All</option>&ndash;&gt;-->
            <!--<option *ngFor="let org of orgArr" [value]="org.id">-->
            <!--{{ org.text }}-->
            <!--</option>-->
            <!--</select>-->
            <select2 width="resolve" *ngIf="orgArr.length"
                     class="col-lg-12 col-md-12"
                     style="padding: 0px; min-width: 200px"
                     [value]="orgValue"
                     [options]="select2Options"
                     (valueChanged)="OnOrgChange($event);"
                     [data]="orgArr"></select2>
        </div>
    </div>
    <p style="clear: both"></p>
    <div style="background: white; padding: 10px 0px">
        <div class="col-sm-12 col-md-12 col-lg-12" style="background: white; padding-right: 10px">
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding-top: 15px; padding-left: 0px">
                <input type="text" placeholder="Search for Orders" style="width: 100%; height: 30px; border-radius: 50px; border: 1px solid; padding: 0px 26px 0px 10px"/>
                <i class="fa fa-search" aria-hidden="true" style="position: absolute; top:  22px; right: 24px"></i>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3"
                 style="background-color: #eee; border-radius: 4px; border: 1px solid; padding: 10px">
                <div class="col-lg-2 col-md-2 col-sm-2" style="margin: 0px; padding: 0px">
                    <i class="fa fa-university" aria-hidden="true"
                       style="font-size: 36px; position: relative; top: 11px;"></i>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" style="padding-right: 0px">
                    <div>
                        <span style="font-size: 12px">AVAILABLE BALANCE</span><span
                            style="float: right;font-size: 12px; position: relative; top: 3px ">{{availableBalance}}</span>
                    </div>
                    <div>
                        <span style="font-size: 12px">PENDING AR</span><span
                            style="float: right; font-size: 12px; position: relative; top: 3px">{{pendingAR}}</span>
                    </div>
                    <div>
                        <span style="font-size: 12px">PENDING AP</span><span
                            style="float: right; font-size: 12px; position: relative; top: 3px">{{pendingAP}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; background: white;">

            <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 10px;">
                <div style="background: #eee; padding: 10px; margin-bottom: 10px">
                    <div>
                        <div style="width: 90%; display: inline-block">
                            <span style="font-size: 12px">DRAFT</span>
                            <span style="float: right; font-size: 12px; position: relative; top: 3px">{{draftItems.length}}</span>
                        </div>
                        <div style="float: right">
                            <i class="fa fa-sliders" aria-hidden="true" style="position: relative; top: 1px"></i>
                        </div>
                    </div>
                    <div>
                        <span style="font-size: 12px">
                            {{totalDraftAmount ? (totalDraftAmount | currency:"USD":true:'1.2-2') : ''}}
                        </span>
                    </div>
                </div>
                <div *ngIf="draftItems.length" style="max-height: 50vh; overflow-y: auto">

                    <div *ngFor="let item of draftItems; let i = index" style="border: 1px solid; border-radius: 4px;" [style.margin-top]="i === 0 ? '0px' : '10px'">
                        <div style="padding: 5px; cursor: pointer" (click)="handleViewOrderDetails(item,'Draft')">
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span>{{item.external_order_id}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>{{item.created_at}}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: -2px">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>{{item.total_budget ? (item.total_budget | currency:"USD":true:'1.2-2') : '-'}}</span>
                            </div>
                            <!--<div style="margin-top: 3px">-->
                                <!--<i class="fa fa-building-o" aria-hidden="true"></i>-->
                                <!--<span>{{item.orderCampaign}}</span>-->
                            <!--</div>-->
                            <div style="margin-top: 3px">
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>{{item.order_created_by ? item.order_created_by : '-'}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>
                                        <span>{{item.user_type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 10px;">
                <div style="background: #eee; padding: 10px; margin-bottom: 10px">
                    <div>
                        <div style="width: 90%; display: inline-block">
                            <span style="font-size: 12px">NEW</span>
                            <span style="float: right; font-size: 12px; position: relative; top: 3px">{{newItems.length}}</span>
                        </div>
                        <div style="float: right">
                            <i class="fa fa-sliders" aria-hidden="true" style="position: relative; top: 1px"></i>
                        </div>
                    </div>
                    <div>
                        <span style="font-size: 12px">
                            {{totalNewAmount ? (totalNewAmount | currency:"USD":true:'1.2-2') : ''}}
                        </span>
                    </div>
                </div>
                <div *ngIf="newItems.length" style="max-height: 50vh; overflow-y: auto">

                    <div *ngFor="let item of newItems; let i = index" style="border: 1px solid; border-radius: 4px;" [style.margin-top]="i === 0 ? '0px' : '10px'">
                        <div style="padding: 5px; cursor: pointer" (click)="handleViewOrderDetails(item, 'New')">
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span>{{item.external_order_id}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>{{item.created_at}}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: -2px">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>{{item.total_budget ? (item.total_budget | currency:"USD":true:'1.2-2') : '-'}}</span>
                            </div>
                            <!--<div style="margin-top: 3px">-->
                            <!--<i class="fa fa-building-o" aria-hidden="true"></i>-->
                            <!--<span>{{item.orderCampaign}}</span>-->
                            <!--</div>-->
                            <div style="margin-top: 3px">
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>{{item.order_created_by ? item.order_created_by : '-'}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>
                                        <span>{{item.user_type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 10px;">
                <div style="background: #eee; padding: 10px; margin-bottom: 10px">
                    <div>
                        <div style="width: 90%; display: inline-block">
                            <span style="font-size: 12px">PAYMENT RECEIVED</span>
                            <span style="float: right; font-size: 12px; position: relative; top: 3px">{{paymentReceivedItems.length}}</span>
                        </div>
                        <div style="float: right">
                            <i class="fa fa-sliders" aria-hidden="true" style="position: relative; top: 1px"></i>
                        </div>
                    </div>
                    <div>
                        <span style="font-size: 12px">
                             {{totalPaymentReceivedAmount ? (totalPaymentReceivedAmount | currency:"USD":true:'1.2-2') : ''}}
                        </span>
                    </div>
                </div>
                <div *ngIf="paymentReceivedItems.length" style="max-height: 50vh; overflow-y: auto">

                    <div *ngFor="let item of paymentReceivedItems; let i = index" style="border: 1px solid; border-radius: 4px;" [style.margin-top]="i === 0 ? '0px' : '10px'">
                        <div style="padding: 5px; cursor: pointer" (click)="handleViewOrderDetails(item, 'Payment Received')">
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span>{{item.external_order_id}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>{{item.created_at}}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: -2px">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>{{item.total_budget ? (item.total_budget | currency:"USD":true:'1.2-2') : '-'}}</span>
                            </div>
                            <!--<div style="margin-top: 3px">-->
                            <!--<i class="fa fa-building-o" aria-hidden="true"></i>-->
                            <!--<span>{{item.orderCampaign}}</span>-->
                            <!--</div>-->
                            <div style="margin-top: 3px">
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>{{item.order_created_by ? item.order_created_by : '-'}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>
                                        <span>{{item.user_type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--<div class="col-lg-2 col-md-2 col-sm-12" style="padding: 10px; width: 20%">-->
                <!--<div style="background: #eee; padding: 10px; margin-bottom: 10px">-->
                    <!--<div>-->
                        <!--<div style="width: 90%; display: inline-block">-->
                            <!--<span style="font-size: 12px">IN PROGRESS</span>-->
                            <!--<span style="float: right; font-size: 12px; position: relative; top: 3px">{{inProgressItems.length}}</span>-->
                        <!--</div>-->
                        <!--<div style="float: right">-->
                            <!--<i class="fa fa-sliders" aria-hidden="true"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<span style="font-size: 12px">$120,000.00</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div *ngIf="inProgressItems.length" style="max-height: 50vh; overflow-y: auto">-->

                    <!--<div *ngFor="let item of inProgressItems; let i = index" style="border: 1px solid; border-radius: 4px;" [style.margin-top]="i === 0 ? '0px' : '10px'">-->
                        <!--<div style="padding: 5px; cursor: pointer" (click)="handleViewOrderDetails(item)">-->
                            <!--<div>-->
                                <!--<div style="width: 100%; display: inline-block">-->
                                    <!--<div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">-->
                                        <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>-->
                                        <!--<span>{{item.id}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">-->
                                        <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                                        <!--<span>{{item.created_at}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div style="margin-top: -2px">-->
                                <!--<i class="fa fa-money" aria-hidden="true"></i>-->
                                <!--<span>{{item.total_budget ? item.total_budget : '-' }}</span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div style="margin-top: 3px">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="fa fa-building-o" aria-hidden="true"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>{{item.orderCampaign}}</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div style="margin-top: 3px">-->
                                <!--<div style="width: 100%; display: inline-block">-->
                                    <!--<div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">-->
                                        <!--<i class="fa fa-user" aria-hidden="true"></i>-->
                                        <!--<span>{{item.order_created_by ? item.order_created_by : '-'}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">-->
                                        <!--<i class="fa fa-address-card" aria-hidden="true"></i>-->
                                        <!--<span>{{item.user_type}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

            <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 10px;">
                <div style="background: #eee; padding: 10px; margin-bottom: 10px">
                    <div>
                        <div style="width: 90%; display: inline-block">
                            <span style="font-size: 12px">COMPLETED</span>
                            <span style="float: right; font-size: 12px; position: relative; top: 3px">{{completedItems.length}}</span>
                        </div>
                        <div style="float: right">
                            <i class="fa fa-sliders" aria-hidden="true" style="position: relative; top: 1px"></i>
                        </div>
                    </div>
                    <div>
                        <span style="font-size: 12px">
                            {{totalCompletedAmount ? (totalCompletedAmount | currency:"USD":true:'1.2-2') : ''}}
                        </span>
                    </div>
                </div>
                <div *ngIf="completedItems.length" style="max-height: 50vh; overflow-y: auto">

                    <div *ngFor="let item of completedItems; let i = index" style="border: 1px solid; border-radius: 4px;" [style.margin-top]="i === 0 ? '0px' : '10px'">
                        <div style="padding: 5px; cursor: pointer" (click)="handleViewOrderDetails(item, 'Completed')">
                            <div>
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span>{{item.external_order_id}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        <span>{{item.created_at}}</span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: -2px">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <span>{{item.total_budget ? (item.total_budget | currency:"USD":true:'1.2-2') : '-'}}</span>
                            </div>
                            <!--<div style="margin-top: 3px">-->
                            <!--<i class="fa fa-building-o" aria-hidden="true"></i>-->
                            <!--<span>{{item.orderCampaign}}</span>-->
                            <!--</div>-->
                            <div style="margin-top: 3px">
                                <div style="width: 100%; display: inline-block">
                                    <div class="col-lg-7 col-md-7 col-sm-7" style="padding-left: 0px">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>{{item.order_created_by ? item.order_created_by : '-'}}</span>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5" style="padding-left: 0px; padding-right: 0px; text-align: right">
                                        <i class="fa fa-address-card" aria-hidden="true"></i>
                                        <span>{{item.user_type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: relative" *ngIf="hideSummary">
    <div class="pull-right" style="position: absolute; right: 0; z-index: 1">
        <a (click)="showOrders()" class="btn btn-secondary"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
            Back to Order Summary</a>
    </div>
    <app-order-v2-details
            [org]="orgValue"
            [orderInfo]="selectedOrder"
    ></app-order-v2-details>
</div>
<app-custom-spinner [isSpinnerActive]="showSpinner" class=""></app-custom-spinner>
