<div>
    <div class="col-lg-12 col-md-12 heading-pane-v0">
        <!--<p class="pull-left page-title">{{isExistingOrder ? 'MODIFY ' : 'CONFIGURE '}}
            PAYMENT</p> -->
    </div>
    <p style="clear: both"></p>
    <div *ngIf="isRoot" class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle"></i> Super User should not add payment method
        </div>
    </div>
    <p style="clear: both"></p>
    <!--<div class="col-lg-2 col-md-2 col-sm-2" style="border: 1px solid #fff; background: #fff; border-radius: 4px">-->
    <!--<ul style="list-style: none">-->
    <!--<li style="margin-top: 20px; position: relative;"><i-->
    <!--style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc"-->
    <!--class="fa fa-check-circle"></i><a style="font-size: 12px" href="javascript:void(0)"-->
    <!--routerLink="/app/order/{{orderId}}">Create Order</a></li>-->
    <!--&lt;!&ndash;<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Configure AD</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a style="font-size: 12px" href="javascript:void(0)" routerLink="/app/targetAud">Target Audience</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: #0777bc" class="fa fa-check-circle"></i><a style="font-size: 12px" href="javascript:void(0)" routerLink="/app/orderSummary">Summary</a></li>&ndash;&gt;-->
    <!--<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px"-->
    <!--class="fa fa-arrow-right"></i><a-->
    <!--style="font-size: 12px" href="javascript:void(0)">Payment</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="col-lg-12 col-md-12 col-sm-12" style="border-radius: 4px">
        <div style="background: #fff; padding: 10px 0px">
            <div style="margin-bottom: 10px;">
                <div>
                    <div *ngIf="paymentOptions; else fetchingExistingPayments">
                        <div style="font-size: 12px; margin: 15px 10px"
                             *ngIf="paymentOptions.length; else noExistingPayments">
                            <div class="width-90-pct" style="border-collapse:separate; border-spacing: 0 1em;">
                                <div class="row margin-3px" style="display: flex">
                                    <div class="col-md-12 h5 bold" style="padding-left: 3px">Your debit and credit cards</div>
                                </div>
                                <div *ngIf="ccPaymentMethods.length; else noCCPayments">
                                    <div *ngFor="let option of ccPaymentMethods; let i = index;">
                                        <div class="row margin-3px payment-method-row" style=" padding: 10px 10px; display: flex; cursor: pointer" (click)="toggleDetails(ccPaymentMethods, i)">
                                            <div style="width: 100%">
                                                <img style="width: 40px;margin-right: 10px"
                                                     src="/assets/images/{{option.payment_method_type ? option.payment_method_type.toLowerCase() : ''}}.png"/>
                                                <span style="font-size: 12px;margin-left: 15px">
                                                   Ending in {{ option.last_four_digits ? option.last_four_digits : 'xxxx' }}
                                                </span>
                                                <span *ngIf="option.is_default === 1">
                                                    <i class="fa fa-check-circle" title="Default Payment Method" style="margin-left: 20px; font-size: 16px;position: relative;top: 2px;color: green;" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <i [class]="option.opened ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div style="padding: 10px; border: 1px dotted; margin: 0px 3.5px; border-top: transparent;position: relative;top: -3px;" [hidden]="!option.opened">
                                            <div style="margin-bottom: 10px">
                                                <span class="col-md-2"><b>Status</b></span><span class="col-md-10">{{option.status}}</span>
                                            </div>
                                            <p style="clear: both"></p>
                                            <div>
                                                 <span class="col-md-12">
                                                    <a style="color:#0066c0" href="javascript:void(0)" (click)="setDefaultPaymentMethod(option)">Set as default</a> payment method
                                                </span>
                                            </div>
                                            <p style="clear: both"></p>
                                        </div>

                                        <!-- <div>
                                            <div class="col-md-1" >
                                                <button *ngIf="option.status && option.status.toUpperCase() === 'PAYMENT SETUP COMPLETED'"
                                                        class="btn btn-primary"
                                                        style="text-transform: none"
                                                        (click)="postPaymentsCharge(option)">
                                                    Pay
                                                </button>
                                            </div >
                                        </div> -->
                                    </div>
                                </div>
                                <ng-template #noCCPayments>
                                    <div style="margin: 0px 30px">There are no debit or credit cards associated with this profile</div>
                                </ng-template>

                                <div class="row margin-3px" style="display: flex; margin-top: 20px">
                                    <div class="col-md-12 h5 bold" style="padding-left: 3px">Your ACH accounts</div>
                                </div>
                                <div *ngIf="achPaymentMethods.length; else noAchPayments">
                                    <div *ngFor="let option of achPaymentMethods; let i = index;">
                                        <div class="row margin-3px payment-method-row" style=" padding: 10px 10px; display: flex; cursor: pointer" (click)="toggleDetails(achPaymentMethods, i)">
                                            <div style="width: 100%">
                                                <img style="width: 40px;margin-right: 10px"
                                                     src="/assets/images/ach.png"/>
                                                <span style="font-size: 12px;margin-left: 15px">
                                                   Ending in {{ option.last_four_digits ? option.last_four_digits : 'xxxx' }}
                                                </span>
                                                <span *ngIf="option.is_default === 1">
                                                    <i class="fa fa-check-circle" title="Default Payment Method" style="margin-left: 20px; font-size: 16px;position: relative;top: 2px;color: green;" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <i [class]="option.opened ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div style="padding: 10px; border: 1px dotted; margin: 0px 3.5px; border-top: transparent;position: relative;top: -3px;" [hidden]="!option.opened">
                                            <div style="margin-bottom: 10px">
                                                <span class="col-md-2"><b>Status</b></span><span class="col-md-10">{{option.status}}</span>
                                            </div>
                                            <p style="clear: both"></p>
                                            <div>
                                                 <span class="col-md-12">
                                                    <a style="color:#0066c0" href="javascript:void(0)" (click)="setDefaultPaymentMethod(option)">Set as default</a> payment method
                                                </span>
                                            </div>
                                            <p style="clear: both"></p>
                                        </div>

                                        <!-- <div>
                                            <div class="col-md-1" >
                                                <button *ngIf="option.status && option.status.toUpperCase() === 'PAYMENT SETUP COMPLETED'"
                                                        class="btn btn-primary"
                                                        style="text-transform: none"
                                                        (click)="postPaymentsCharge(option)">
                                                    Pay
                                                </button>
                                            </div >
                                        </div> -->


                                    </div>
                                </div>
                                <ng-template #noAchPayments>
                                    <div style="margin: 0px 30px">There are no ACH accounts associated with this profile</div>
                                </ng-template>

                                <div class="row margin-3px" style="display: flex; margin-top: 20px">
                                    <div class="col-md-12 h5 bold" style="padding-left: 3px">Your Purchase Orders</div>
                                </div>
                                <div *ngIf="poPaymentMethods.length; else noPoPayments">
                                    <div *ngFor="let option of poPaymentMethods; let i = index;">
                                        <div class="row margin-3px payment-method-row" style=" padding: 10px 10px; display: flex; cursor: pointer" (click)="toggleDetails(poPaymentMethods, i)">
                                            <div style="width: 100%">
                                                <img style="width: 40px;margin-right: 10px; height: 30px"
                                                     src="/assets/images/po.png"/>
                                                <span style="font-size: 12px;margin-left: 15px">
                                                   {{ option.po_number ? option.po_number : 'xxxx' }}
                                                </span>
                                                <span *ngIf="option.is_default === 1">
                                                    <i class="fa fa-check-circle" title="Default Payment Method" style="margin-left: 20px; font-size: 16px;position: relative;top: 2px;color: green;" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <i [class]="option.opened ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div style="padding: 10px; border: 1px dotted; margin: 0px 3.5px; border-top: transparent;position: relative;top: -3px;" [hidden]="!option.opened">
                                            <div style="margin-bottom: 10px">
                                                <span class="col-md-2"><b>Status</b></span><span class="col-md-10">{{option.status}}</span>
                                            </div>
                                            <p style="clear: both"></p>
                                            <div>
                                                <span class="col-md-2"><b>PO Document</b></span><span class="col-md-10"><a style="color:#0066c0" href="javascript:void(0)" (click)="downloadPODocument(option)">Download</a></span>
                                            </div>
                                            <p style="clear: both"></p>
                                            <div>
                                                 <span class="col-md-12">
                                                    <a style="color:#0066c0" href="javascript:void(0)" (click)="setDefaultPaymentMethod(option)">Set as default</a> payment method
                                                </span>
                                            </div>
                                            <p style="clear: both"></p>
                                        </div>
                                        <!-- <div>
                                            <div class="col-md-1" >
                                                <button *ngIf="option.status && option.status.toUpperCase() === 'PAYMENT SETUP COMPLETED'"
                                                        class="btn btn-primary"
                                                        style="text-transform: none"
                                                        (click)="postPaymentsCharge(option)">
                                                    Pay
                                                </button>
                                            </div >
                                        </div> -->

                                    </div>
                                </div>
                                <ng-template #noPoPayments>
                                    <div style="margin: 0px 30px">There are no purchase orders associated with this profile</div>
                                </ng-template>

                            </div>
                        </div>
                        <ng-template #noExistingPayments>
                            <div style="margin: 20px 30px">No existing payments found</div>
                        </ng-template>
                    </div>
                    <ng-template #fetchingExistingPayments>
                        <div style="margin: 20px 30px 20px 15px">Fetching existing payments ..</div>
                    </ng-template>
                    <div class="row margin-3px" style="margin-left: 15px;">
                        <div class="col-md-12 col-lg-12 col-sm-12 h5 bold" style="padding-left: 3px; font-size: 16px">Add New Payment Method:</div>
                        <div id="air_widget">
                        </div>
                    </div>

                    <!--<div>-->
                        <!--<span style="position: relative; top: 10px">Add New Payment Method: </span>-->
                        <!--<div id="fs_widget">-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <app-custom-spinner [isForbidden]="isForbidden" [isSpinnerActive]="showSpinner" class=""></app-custom-spinner>

    <div
    >
        <app-script-embedder [src]="api_fs.widgetV2"
                            type="text/javascript"></app-script-embedder>
    </div>

</div>
