<ul 
    class="nav navbar-nav {{mainUlClass}}" 
    *ngIf="mainmenu && mainmenu.length"
>
    <ng-template ngFor let-mm [ngForOf]="mainmenu" let-i="index">
        <li 
            [attr.data-index]="i+1" 
            *ngIf="mm.name!='profile'" 
            [ngClass]="mm.selected ? 'active' : '' "
        >
            <a 
                (click)="loadOptions(i,mm)" 
                title={{mm.name}} 
                id="{{mm.id}}"
                [ngClass]="isActive(i) ? 'active' : '' "
            >{{ mm.title }}  
            </a>
        </li>
                    <app-nav 
                        *ngIf="mm.submenu" 
                        [mainmenu]="mm.submenu"
                        [mainUlClass]="bottom-menu"
                    ></app-nav>
    </ng-template>
</ul>

