
.display-none {
  display: none;
}

// .main-menu {
  // display: flex;
// }

// .bottom-menu {
//     display: inline-grid;
// }


// .nav.navbar-nav.main-menu {
  // display: inline-flex;
  // position: relative;
// }

.header.desktop div.container {
// .container {
  // display: initial;
  display: inline !important;
}

.nav.navbar-nav.main-menu > div {
  // display: initial;
  display: inline-grid;
  position: inherit;
  // padding: 20px;
  // padding: 10px;
  // padding: 9px 10px;
  // padding: 9px;
  padding: 10px 8px;
}

.nav.navbar-nav.main-menu > div .bottom-menu {
    display: flex;
    position: fixed;
    background: #333333;
    width: 100%;
    left: 0px;
    padding-left: 10px;
}

 .nav.navbar-nav.main-menu > div .bottom-menu > div {
    margin: 5px 20px 12px 0px;
 }

.nav.navbar-nav.main-menu a {
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    color: #ffffff !important;
    font-size: 12px;
    font-family: "lucidagrande-bold", sans-serif !important;
    background: transparent;
    cursor: pointer;
}

// div.nav.navbar-nav {
// div.nav.navbar-nav.main-menu {
//   margin-top: 12px;
// }

div.active {
  background: #333333 !important;
}

