
.display-none {
  display: none;
}

// .main-menu {
  // display: flex;
// }

// .bottom-menu {
//     display: inline-grid;
// }


// .nav.navbar-nav.main-menu {
  // display: inline-flex;
  // position: relative;
// }

.header.desktop div.container {
  display: inline !important;
}

.nav.navbar-nav.main-menu > div {
  display: inline-grid;
  position: inherit;
  padding: 10px 16px;
}

.nav.navbar-nav.main-menu > div .bottom-menu {
    display: -webkit-box;
    position: fixed;
    overflow: auto;
    background: #54575A;
    width: 100%;
    left: 0px;

    padding: 3px 0px 3px 15px;
}

 .nav.navbar-nav.main-menu > div .bottom-menu > div {
    margin: 5px 20px 12px 0px;
 }

.nav.navbar-nav.main-menu > div .bottom-menu > div a {
  background: #54575A !important;
  font-size: 14px;
}

.nav.navbar-nav.main-menu > div .bottom-menu > div a.active-bar {
  border-bottom-color: #DC6A35 !important;
  color: #eeedef;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.nav.navbar-nav.main-menu a {
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    color: #eeedef;
    font-weight: 100;
    background: #252425 !important;
    font-size: 12px;
    line-height: normal;
    //letter-spacing: 1px;
    font-family: sans-serif !important;
    cursor: pointer;
    //margin-bottom: 6px;
    padding-bottom: 10px;
    &:hover {
      color: #eeedef;
    }
}


