<ul 
    class="nav navbar-nav" 
    [ngClass]="mainUlClass"
    *ngIf="mainmenu && mainmenu.length"
>
    <ng-template ngFor let-mm [ngForOf]="mainmenu" let-i="index">
        <li 
            [attr.data-index]="i+1" 
            *ngIf="urlPath.indexOf( mm.url.split('/')[mm.url.split('/').length - 2] ) === -1; then thenBlock else elseBlock"
        >
            <div #thenBlock>ThenBLOCK</div>
            <div #elseBlock>elseBLOCK</div>
            <br />
            urlPath: {{urlPath}}
            <br />
            mm.url.split: {{mm.url.split('/')[mm.url.split('/').length - 2] }}
            <br />
            urlPath: {{urlPath.indexOf( mm.url.split('/')[mm.url.split('/').length - 2] ) === -1;}}
            <br />
            <a 
                (click)="loadOptions(i,mm)" 
                title={{mm.name}} 
                id="{{mm.id}}"
                [ngClass]="mm.selected ? 'active' : '' "
            >{{ mm.title }} 
            </a>
                <app-nav 
                    *ngIf="mm.submenu" 
                    [mainmenu]="mm.submenu"
                    mainUlClass="bottom-menu"
                    random="{{mm.id}}"
                >
                </app-nav>
        </li>

    </ng-template>
</ul>

