
.display-none {
  display: none;
}

// .main-menu {
  // display: flex;
// }

// .bottom-menu {
//     display: inline-grid;
// }


// .nav.navbar-nav.main-menu {
  // display: inline-flex;
  // position: relative;
// }

.header.desktop div.container {
// .container {
  // display: initial;
  display: inline !important;
}

.nav.navbar-nav.main-menu > div {
  display: initial;
  position: inherit;
}

.nav.navbar-nav.main-menu > div .bottom-menu {
    display: flex;
    position: fixed;
}

// .nav.navbar-nav.main-menu > div .bottom-menu div {
//     display: inherit;
// }

.nav.navbar-nav.main-menu a {
    text-decoration: none;
    padding: 2px;
    margin: 2px;
}

