<div>
  <div class="col-lg-12 col-md-12">
    <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">{{isExistingOrder ? 'MODIFY ' : 'CONFIGURE '}} TARGET AUDIENCES</p>
  </div>
  <p style="clear: both"></p>
  <div class="col-lg-2 col-md-2 col-sm-2" style="border: 1px solid #fff; background: #fff">
   <ul style="list-style: none">
     <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:0px; left: -26px; font-size: 18px; color: green" class="fa fa-check-circle"></i><a href="javascript:void(0)">Create Order</a></li>
     <!--<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Configure AD</a></li>-->
     <li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a href="javascript:void(0)">Target Audiences</a></li>
     <li style="margin-top: 20px"><span>Summary</span></li>
     <li style="margin-top: 20px"><span>Payment</span></li>
   </ul>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-10" style="margin-top: 5px">

  </div>
</div>

