<div>
  <div class="col-lg-12 col-md-12">
    <p class="pull-left page-title">{{existingOrder ? 'MODIFY ' : 'CREATE '}} ORDER</p>
  </div>
  <p style="clear: both"></p>
  <!--<div class="col-lg-2 col-md-2 col-sm-12" style="border: 1px solid #fff; background: #fff; border-radius: 4px">-->
   <!--<ul style="list-style: none">-->
     <!--<li style="margin-top: 20px; position: relative;"><i style="position: absolute; top:3px; left: -26px" class="fa fa-arrow-right"></i><a style="font-size: 12px" href="javascript:void(0)">Create Order</a></li>-->
     <!--&lt;!&ndash;<li style="margin-top: 20px"><span>Configure AD</span></li>&ndash;&gt;-->
     <!--&lt;!&ndash;<li style="margin-top: 20px"><span style="font-size: 12px">Target Audience</span></li>&ndash;&gt;-->
     <!--&lt;!&ndash;<li style="margin-top: 20px"><span style="font-size: 12px">Summary</span></li>&ndash;&gt;-->
     <!--<li style="margin-top: 20px"><span style="font-size: 12px">Payment</span></li>-->
   <!--</ul>-->
  <!--</div>-->
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div style="background: #fff; border-radius: 4px">
      <label style="padding: 0px; margin: 10px 0px 20px 15px; font-size: 16px"><span class="underline">ORDER</span></label>
      <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 15px 0px 20px 0px; background: #fff">
        <div *ngIf="templates && templates.length > 1">
          <label class="col-lg-2 col-md-2 col-sm-12">Template</label>
          <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative; top: -4px;">
            <select2 *ngIf="templates.length" width="100%" placeholder="Select Template"
                     class="col-lg-4 col-md-4"
                     style="padding: 0px; line-height: 1.42857143; width: 300px"
                     [value]="template"
                     [disabled]="existingOrder ? 'disabled' : null"
                     [style.cursor]="existingOrder ? 'not-allowed' : null"
                     (valueChanged)="OnTemplateChange($event);"
                     [data]="templates"></select2>
          </div>
        </div>
        <div *ngIf="data.controls && data.controls.length">
          <div  *ngFor="let def of data.controls; let i = index;">
            <div *ngIf="def.calculated !== 1" style="padding: 0px;margin: 10px 0px 0px 0px" class="col-lg-12 col-md-12 col-sm-12">
              <label class="col-lg-2 col-md-2 col-sm-12">{{def.label}} <span class="text-danger">{{def.validation && def.validation.indexOf('required') !== -1 ? '*' : ''}}</span></label>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="(def.type ==='varchar' || def.type ==='string')">
                <input class="input-form-control"
                       [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived ? 'not-allowed' : null"
                       [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived ? 'disabled' : null"
                       [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                       type="text" [formControl]="FormModel.attributes[def.name]"/>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type === 'text'">
              <textarea class="input-form-control" rows="10" style="height: 100px"
                        [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived? 'not-allowed' : null"
                        [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived  ? 'disabled' : null"
                        [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                        type="text" [formControl]="FormModel.attributes[def.name]"></textarea>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type ==='checkbox'">
                <div *ngFor="let option of def.options; let i= index">
                  <input class="" type="checkbox"
                         (change)="onCheckItem($event, def,option.id)"
                         [checked]="def.value && def.value.indexOf(option.id) !== -1"
                         [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived? 'not-allowed' : null"
                         [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived  ? 'disabled' : null"
                         [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                  /><span style="margin-left: 5px; position: relative; top: 2px">{{option.text}}</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type ==='radio'">
                <div *ngFor="let option of def.options; let i= index">
                  <input class="" type="radio" [name]="def.name"
                         [value]="option.id"
                         [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived? 'not-allowed' : null"
                         [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && def.validation && def.validation.indexOf('PostOrderChange') === -1)) && paymentReceived  ? 'disabled' : null"
                         [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                         [formControl]="FormModel.attributes[def.name]"/><span style="margin-left: 5px; position: relative; top: 1px">{{option.text}}</span>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12" style="position: relative; top: -4px" *ngIf="def.type === 'date'">
                <div class="form-group">
                  <div class="input-group">
                    <input class="input-form-control"
                           [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'not-allowed' : null"
                           [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'disabled' : null"
                           [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                           a2e-datetimepicker
                           [value]="def.value"
                           [formControl]="FormModel.attributes[def.name]"
                           [options]="dateOptions"/>
                    <span class="input-group-addon datepicker-icon">
                             <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type === 'decimal'">
                <input class="input-form-control"
                       [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'not-allowed' : null"
                       [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'disabled' : null"
                       [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                       [formControl]="FormModel.attributes[def.name]"/>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type === 'amount'">
                <select style="width: 38px; padding: 6px 12px; font-size: 12px; height: 33px; color: #495057; border: 1px solid #ced4da; background-clip: padding-box; border-radius: 4px;"><option value="$">$</option></select>
                <input style="width: 118px"
                       class="input-form-control"
                       [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'not-allowed' : null"
                       [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'disabled' : null"
                       [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? '#EEEEEE' : null"
                       [formControl]="FormModel.attributes[def.name]"/>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type === 'int'">
                <input class="input-form-control"
                       [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'not-allowed' : null"
                       [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'disabled' : null"
                       [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived  ? '#EEEEEE' : null"
                       type="number"
                       [formControl]="FormModel.attributes[def.name]"/>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12"  style="position: relative; top: -4px" *ngIf="def.type === 'list'">
                <select2 *ngIf="def.options" width="100%"
                         class="col-lg-4 col-md-4"
                         [style.cursor]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'not-allowed' : null"
                         [attr.disabled]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived ? 'disabled' : null"
                         [style.background]="((def.validation && def.validation.indexOf('disable') !== -1) || (existingOrder && (!def.validation || ( def.validation && def.validation.indexOf('PostOrderChange') === -1)))) && paymentReceived  ? '#EEEEEE' : null"
                         style="padding: 0px; line-height: 1.42857143; width: 160px"
                         [value]="getSelect2Value(def)"
                         [options]="select2Options"
                         (valueChanged)="OnSelectValueChange($event, def.name, def);"
                         [data]="def.options">
                </select2>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="FormModel.attributes[def.name] && FormModel.attributes[def.name].invalid && (FormModel.attributes[def.name].dirty || FormModel.attributes[def.name].touched)" class="alert alert-danger" style="display: inline-block; z-index: 10; margin-left: 15px">
                <div *ngIf="FormModel.attributes[def.name].errors.required">
                  {{def.label}} is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-left: 15px" *ngIf="template">
        <label class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px; margin: 30px 0px 10px 0px; font-size: 16px"><span class="underline">LINE ITEMS</span></label>
        <button class="btn btn-primary" *ngIf="!paymentReceived" (click)="addLineItem()">ADD</button>
        <button class="btn btn-primary" *ngIf="!paymentReceived" (click)="removeLineItem()">REMOVE</button>
        <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject && dataFieldConfiguration.length && paymentReceived !== null">
          <app-data-table2
            [existingIdentity]="!!existingOrder"
            [dataObject]="dataObject"
            (triggerActions)="this[$event.action]($event)"
            [dataFieldsConfiguration]="dataFieldConfiguration"
            [dataRowUpdatedLen] = "dataRowUpdatedLen"
          ></app-data-table2>
          <!--<app-data-table1 [dataObject]="dataObject" [id]="dashboard" [height]="height"></app-data-table1>-->
        </div>
        <div class="clearfix"></div>
        <!--<div class="page-header" *ngIf="!dataObject.isDataAvailable">-->
          <!--<div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to display.</div>-->
        <!--</div>-->
      </div>
    </div>
    <div style="margin-top: 20px" *ngIf="template">
      <button class="btn btn-primary"
              style="text-transform: none" (click)="OnSubmit()">
        SAVE
      </button>
      <button class="btn btn-primary" (click)="OnCancel()">CANCEL</button>
      <!--[disabled]="form && !form.valid"-->
    </div>
    <app-custom-spinner [style.display]="showSpinner == false ? 'none': 'block'" class="page-spinner"></app-custom-spinner>
  </div>
</div>

