@charset "UTF-8";
@import "variables";
body {
  color: $primary-color;
  font-family: $primary-font;
  padding: 0px !important;
  margin: 0px !important;
  direction: "ltr";
  font-size: 14px;
}
::-webkit-scrollbar {
    width: 8px;
		&:hover{
			background: none;
		}
}
::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
		min-height: 20px;
}
*:focus,.btn:focus{
    outline-color: rgba(0,0,0,0) !important;
    outline: 0;
    box-shadow: 0;
    border-color: #5FA1DE !important;
}
.btn.disabled:focus,.btn[disabled]:focus,.btn:focus{
  color: $tertiary-color;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  background-color: inherit;
}

/** placeholder color **/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #969da6 !important;
  font-family: $tertiary-font !important;
  font-size: $font-primary !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #969da6 !important;
  font-family: $tertiary-font !important;
  font-size: $font-primary !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #969da6 !important;
  font-family: $tertiary-font !important;
  font-size: $font-primary !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #969da6 !important;
  font-family: $tertiary-font !important;
  font-size: $font-primary !important;
}
/** placeholder color **/
select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url(/assets/images/sort-down.png) !important;
      background-repeat: no-repeat !important;
      background-size: 10px !important;
      background-position: 96% 12px !important;
}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
.clear{
  clear: both;
  height: 0
}
/* You can add global styles to this file, and also import other style files */
@import "common";
@import "layout";
@import "organization";
@import "responsive";
@-moz-document url-prefix() {
  table.table.admin-user thead th{
    font-weight: inherit;
  }
}

/* to make sweetalert visible above modals */
.swal2-container {
  z-index: 10600 !important;
}