.highcharts-title tspan {
  padding-bottom: 30px;
}

.app-container .dashboardTitle {
  color: #f06d30;
  display: inline;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.85px;
}

.page-header {
  margin: 0px 20px;
}
.mb-1{
  margin-bottom: 10px;
}
.fa-download {
  margin-right: 5px;
}
