<app-sidebar1>
  <div class="sidebar-title">
    <h3>FILTERS</h3>
  </div>
  <div class="sidebar-form-control">
    <div class="sidebar-form-control" *ngIf="isRoot">
      <p class="title">Org:</p>
      <div class="sidebar-container dash-cust-width">
        <app-multiselect-drop-down [data]="orgArr"
                                   [selectedItems]="selectedOrg"
                                   [loading]="loading"
                                   [settings]="settings"
                                   [dropDownAction]="this"
                                   (onSelect)="handleSelect($event, 'selectedOrg')"
                                   (onDeSelect)="handleDeSelect($event, 'selectedOrg')"
        ></app-multiselect-drop-down>
      </div>
    </div>
    <div *ngFor="let filter of dashboardConfig.filterProps; let i = index;">
      <div class="sidebar-form-control" *ngIf="filter.type === 'toggle'" >
        <p class="title">{{filter.label}}:</p>
        <div class="sidebar-container">
          <label (click)="setActive(filter,toggleOption)" *ngFor="let toggleOption of filter.toggleOptions; let j = index;" [class]="filter.values === toggleOption.value ? 'active' : ''">
            {{toggleOption.name}}
          </label>
        </div>
      </div>
      <div class="sidebar-form-control" *ngIf="filter.type === 'dropdown' && selectedView != 'Monthly'" >
        <p class="title">{{filter.label}}:</p>
        <app-wrapper-multiselect-drop-down [updatedValue]="filter.values" (valueUpdate)="updateFilterConfig($event)" [filterConfig]="filter" [dependentConfig]="getDependentConfig(filter.dependentOn)"
        ></app-wrapper-multiselect-drop-down>
      </div>
      <div class="sidebar-form-control" *ngIf="filter.type === 'popupButton'" >
        <p class="title">{{filter.label}}:</p>
        <app-popup-button
                [popupDataAction]="this"
                (valueUpdate)="updateFilterConfig($event)"
                [filterConfig]="filter"
                [dependentConfig]="getDependentConfig(filter.dependentOn)">
        </app-popup-button>
      </div>
      <div class="sidebar-form-control" *ngIf="filter.type === 'text'" >
        <p class="title">{{filter.label}}:</p>
        <input type="text" style="position: relative;
                      width: 100%;
                      padding: 0 10px;
                      color: #333;
                      background: #f7f7f7;
                      border-radius: 3px;
                      border: 1px solid #f7f7f7;
                      text-align: left;
                      line-height: 34px;">
      </div>
    </div>
  </div>
  <div class="sidebar-form-control">
    <button (click)="search()">SEARCH</button>
  </div>
</app-sidebar1>
<div class="app-container">
  <div style="min-height: 40px; overflow: auto; margin-left: 2px">
    <div>
      <p class="dashboardTitle">{{(dashboardType ? dashboardType.toUpperCase() : '') + ' ' + (selectedView ? selectedView.toUpperCase() : '')}}</p>
    </div>
    <div class="breadcrumbsection">
      <div class="breadcrumbinner">
        <h4>Filters selected :</h4>
        <div style="display: inline-block" *ngFor="let filter of dashboardConfig.filterProps; let i = index;">
          <div *ngIf="filter.label.toLowerCase() != 'period'; else period">
            <div class="breadcrumbList" *ngIf="filter.values.length">
              <span class="breadcrumblabel">{{filter.label}}
                <span class="breadcrumbValue" [innerHTML]="filter.f7Name === 'period' ? (filter.values.length ? filter.values[0].itemName : '') : ( isArray(filter.values) ? ( filter.values.length ? getSelectedValues(filter.values) : 'ALL' ) : ( filter.values ? filter.values : 'ALL' ))"></span>
              </span>
            </div>
          </div>
          <ng-template #period>
            <div class="breadcrumbList" *ngIf="selectedView && selectedView.toLowerCase() != 'monthly'">
              <span class="breadcrumblabel">{{filter.label}}
                <span class="breadcrumbValue" [innerHTML]="filter.f7Name === 'period' ? (filter.values.length ? filter.values[0].itemName : '') : ( isArray(filter.values) ? ( filter.values.length ? getSelectedValues(filter.values) : 'ALL' ) : ( filter.values ? filter.values : 'ALL' ))"></span>
              </span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="chartConfig.data.length">
    <a class="btn btn-secondary pull-right mb-1" (click)="exportAll()" title="Export All"><i class="fa fa-fw fa-download" aria-hidden="true"></i>Export All</a>
    <div class="clear-fix"></div>
    <app-charts #chart [config]="chartConfig"></app-charts>
  </div>
  <div class="page-header" style="padding-top: 1px" *ngIf="!chartConfig.data.length">
    <div style="background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to plot.</div>
  </div>
  <div>
    <div class="gridOverflow" *ngIf="dataObject.isDataAvailable">
      <div style="padding: 20px">
        <app-data-table2 #table [dataObject]="dataObject" (triggerActions)="this[$event.action]($event)"></app-data-table2>
      </div>
      <!--<app-data-table1 [dataObject]="dataObject" [id]="dashboard" [height]="height"></app-data-table1>-->
    </div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <div style="background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to display.</div>
    </div>
  </div>
</div>
<app-custom-spinner class="page-spinner" *ngIf="showSpinner" [showSpinnerFlag]="showSpinner"></app-custom-spinner>

