<div>
    <div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">
        <p class="pull-left" style="color: #0777bc;font-size: 20px;display: inline;">Source</p>
    </div>
    <div>
        <div style="margin-left: 19px; padding-bottom: 20px">
            <label>Vendor </label>
            <!--<div>-->
            <!--<select2 *ngIf="vendorOptions.length" width="90%" placeholder="Select Vendor"-->
            <!--class="col-lg-4 col-md-4"-->
            <!--style="padding: 0px; line-height: 1.42857143"-->
            <!--[value]="selectedVendor"-->
            <!--(valueChanged)="OnVendorChange($event);"-->
            <!--[data]="vendorOptions"></select2>-->
            <!--</div>-->
            <input style="width: 60%; padding-left: 5px"
                   type="text"
                   class="form-fields adhoc-report-input-box"
                   #searchField
                   placeholder="Search Vendor"
                   [(ngModel)]='searchcontent'>
            <input type="checkbox" [(ngModel)]='caseSensitive'/> Case Sensitive
            <div *ngIf="matchingResults.length" style="position: absolute; height: 200px; overflow: scroll; background-color: white; width: 57.6%; z-index: 1000; margin-left: 49px; border: 1px solid">
                        <ul style="list-style: none; padding-left: 5px">
                          <li class="matching-results" *ngFor="let ele of matchingResults; let i = index;">
                              <span style="display: block" (click)="OnVendorSelect(ele.id)">{{ele.id + ' - ' + ele.text}}</span>
                          </li>
                        </ul>
            </div>
            <p style="clear: both"></p>
        </div>
        <div *ngIf="selectedVendor">
            <div style="padding-left: 0px; margin-bottom: 10px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Selected Vendor : </label>
                <span class="col-lg-9 col-md-9">{{selectedVendorName}}</span>
            </div>
            <div style="padding-left: 0px" class="col-lg-12 col-md-12">
                <label class="col-lg-3 col-md-3">Payment Methods : </label>
                <div class="col-lg-9 col-md-9" *ngIf="paymentMethods.length; else noPayments">
                    <div *ngFor="let ele of paymentMethods; let i = index;" style="margin-bottom: 10px">
                        <label>Payment Method</label><span style="margin-left: 5px">{{ele.payment_method}}</span><br>
                        <label>Last 4 digits</label><span style="margin-left: 5px">{{ele.last_four_digits}}</span><br>
                        <label>Payment Status</label><span style="margin-left: 5px">{{ele.status}}</span><br>
                        <label>Default</label><span
                            style="margin-left: 5px">{{(ele.is_default == 1 ? 'Yes' : 'No')}}</span>
                    </div>
                </div>
                <ng-template #noPayments>
                    <span class="col-lg-9 col-md-9"> No Payments Found</span>
                </ng-template>
            </div>
        </div>
        <p style="clear: both"></p>
        <div style="padding-left: 0px" class="col-lg-6 col-md-6">
            <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
                <app-data-table2 [dataObject]="dataObject"
                                 (triggerActions)="this[$event.action]($event)"></app-data-table2>
            </div>
            <div class="page-header" *ngIf="!dataObject.isDataAvailable">
                <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to
                    display.
                </div>
            </div>
        </div>
        <div style="padding-left: 0px" class="col-lg-6 col-md-6">
            <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
                <app-data-table2 [dataObject]="dataObject"
                                 (triggerActions)="this[$event.action]($event)"></app-data-table2>
            </div>
            <div class="page-header" *ngIf="!dataObject.isDataAvailable">
                <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to
                    display.
                </div>
            </div>
        </div>
        <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
    </div>
</div>

