<div>
  <div class="col-lg-12 col-md-12">
    <p class="pull-left page-title">Operations Dashboard</p>
    <div class="alert-btn type-create pull-right">
      <a (click)="reLoad()" class="btn btn-secondary"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
    </div>
  </div>
  <div class="">
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 [dataObject]="dataObject" identity="org" (triggerActions)="this[$event.action]($event)"></app-data-table2>
    </div>
    <div class="clearfix"></div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">{{resultStatus}}</div>
    </div>
    <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
  </div>
</div>
