<div [style.display]="hideTable ? 'none' : 'block'">
<app-sidebar1>
  <div class="sidebar-title">
    <h3>FILTERS</h3>
  </div>
  <div class="sidebar-form-control">
    <div>
      <div class="sidebar-form-control dash-page-chk" *ngIf="isRoot">
        <p class="title">Org</p>
        <div class="sidebar-container dash-cust-width">
          <app-multiselect-drop-down [data]="orgArr"
                                     [selectedItems]="selectedOrg"
                                     [loading]="loading"
                                     [settings]="settings"
                                     [dropDownAction]="this"
                                     (onSelect)="handleOrgSelect($event, 'selectedOrg')"
                                     (onDeSelect)="handleOrgDeSelect($event, 'selectedOrg')"
          ></app-multiselect-drop-down>
        </div>
      </div>

      <div *ngFor="let filter of dashboardConfig.filterProps; let i = index;">
        <div class="sidebar-form-control" *ngIf="filter.type === 'monthpicker'" >
          <p class="title">{{filter.label}}:</p>
          <div style="height: 40px">
            <input class="input-form-control" style="text-align: center; width: 215px; height: 38px; cursor: pointer"
                   a2e-datetimepicker
                   [title]="period.display"
                   (ngModelChange)="OnPeriodChange($event, filter)"
                   [(ngModel)]="period.value"
                   [options]="dateOptions"/>
            <span style="padding: 10px 12px; position: relative; left: 176px; top: -29px; background: #eeeeee; color: #555555;">
                    <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="sidebar-form-control" *ngIf="filter.type === 'dropdown'" >
          <p class="title">{{filter.label}}:</p>
          <app-wrapper-multiselect-drop-down [updatedValue]="filter.values" (valueUpdate)="updateFilterConfig($event)" [filterConfig]="filter" [dependentConfig]="getDependentConfig(filter.dependentOn)"
          ></app-wrapper-multiselect-drop-down>
        </div>
        <div class="sidebar-form-control" *ngIf="filter.type === 'popupButton'" >
          <p class="title">{{filter.label}}:</p>
          <app-popup-button
                  [popupDataAction]="this"
                  (valueUpdate)="updateFilterConfig($event)"
                  [filterConfig]="filter"
                  [dependentConfig]="getDependentConfig(filter.dependentOn)">
          </app-popup-button>
        </div>
        <div class="sidebar-form-control" *ngIf="filter.type === 'text'" >
          <p class="title">{{filter.label}}:</p>
          <input type="text" style="position: relative;
                      width: 100%;
                      padding: 0 10px;
                      color: #333;
                      background: #f7f7f7;
                      border-radius: 3px;
                      border: 1px solid #f7f7f7;
                      text-align: left;
                      line-height: 34px;">
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-form-control">
    <button (click)="search()">SEARCH</button>
  </div>
</app-sidebar1>
<div class="app-container">
  <div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">
    <p class="pull-left page-title">RECONCILIATION</p>
    <div class="pull-right">
      <a (click)="handleShowModal(UploadInvoice)" class="btn btn-secondary"><i class="fa fa-fw fa-upload" aria-hidden="true"></i>Upload Invoice</a>
      <a (click)="reLoad()" class="btn btn-secondary"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
    </div>
  </div>
  <div style="padding-top: 35px">
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 [dataObject]="dataObject" tableId="reconciliation_dataTable" identity="reconciliation" [sendResponseOnCheckboxClick]=true
      (triggerActions)="handleRow($event)"></app-data-table2>
    </div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to display.</div>
    </div>
  </div>
</div>
</div>
<div style="position: relative" *ngIf="hideTable">
  <div class="pull-right" style="position: absolute; right: 0; z-index: 1">
    <a (click)="showReDashboard()" class="button btn btn-secondary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back To Reconciliation Dashboard</a>
  </div>
  <app-reconciliation-profiles [filters]="selectedFilters" [period]="selectedPeriod" [supplier]="selectedSupplier" [invoiceId]="selectedInvoice" [invoiceNumber]="selectedInvoiceNumber"></app-reconciliation-profiles>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
<div style="width:100%">
  <app-pop-up-modal #UploadInvoice>
    <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
      Upload Channel Invoice
    </div>
    <div class="app-modal-body">
      <div class="content">
        <div class="form">
          <div class="form-group-fields">
            <label class="col-lg-4 col-md-4" style="padding-left: 0px">Channel : </label>
            <select2 width="100%"
                     class="col-lg-8 col-md-8 form-field"
                     style="padding: 0px; line-height: 1.42857143;"
                     [value]="uploadModel.channel"
                     [options]="select2Options"
                     (valueChanged)="OnSelectValueChange($event);"
                     [data]="channelOptions">
            </select2>
          </div>
          <p style="clear: both"></p>
          <div class="form-group-fields">
            <label class="col-lg-4 col-md-4" style="padding-left: 0px">Email : </label>
            <div class="col-lg-8 col-md-8 form-field" style="padding: 0px; border: 1px solid #aaa; border-radius: 4px">
              <app-tag2 [maxItems]="1" [dataModel]="uploadModel.emails" primaryPlaceholder="Add Email Addresses" validation_func="email_validation" validationMessages="Please be sure to use a valid email format"
                        secondaryPlaceholder="Add Email" (updateDataModel)="_updateDataModel($event)" ></app-tag2>
            </div>
          </div>
          <!--<p style="clear: both"></p>-->
          <!--<div class="form-group-fields">-->
            <!--<label class="col-lg-4 col-md-4" style="padding-left: 0px">Comments : </label>-->
            <!--<div class="col-lg-8 col-md-8 form-field" style="padding: 0px;">-->
              <!--<textarea style="height: 50px; width: 100%; border-radius: 4px; border-color: #aaa" [(ngModel)]="uploadModel.comments"></textarea>-->
            <!--</div>-->
          <!--</div>-->
          <p style="clear: both"></p>
          <div class="form-group-fields">
            <label class="col-lg-12 col-md-12" style="padding-left: 0px">File : </label>
            <div class="col-lg-12 col-md-12 form-field" style="padding: 0px;">
              <app-file-uploader [uploadedFile]="uploadModel.file" [acceptType]="'.pdf'" (processFile)="OnProcessFile($event)"></app-file-uploader>
            </div>
          </div>
          <p style="clear: both"></p>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" [disabled]="!validated()" [style.cursor]="!validated() ? 'not-allowed' : 'pointer'" [style.opacity]="!validated() ? 0.7 : 1"  class="btn btn-primary" (click)="OnUpload(UploadInvoice)">
        Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="handleCloseModal(UploadInvoice)">
        Close
      </button>
    </div>
  </app-pop-up-modal>
</div>
<div style="width:100%">
  <app-pop-up-modal #SES>
    <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
      Update SES for Invoice :
    </div>
    <div class="app-modal-body">
      <div class="content">
        <label>SES Number</label>
        <div>
          <input class="input-form-control"
                 [(ngModel)]="selectedSES"/>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" (click)="handleSubmitSES()">
        Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="handleCloseSES()">
        Cancel
      </button>
    </div>
  </app-pop-up-modal>
</div>
