<div [style.display]="hideTable ? 'none' : 'block'">
<app-sidebar1>
  <div class="sidebar-title">
    <h3>FILTERS</h3>
  </div>
  <div class="sidebar-form-control">
    <div>
      <div class="sidebar-form-control">
        <p class="title">Period</p>
        <div class="sidebar-container">
          <app-multiselect-drop-down [data]="periodData"
                                     [selectedItems]="selectedPeriod"
                                     [loading]="loading"
                                     [settings]="settings"
                                     [dropDownAction]="this"
                                     (onSelect)="handleSelect($event, 'selectedPeriod')"
                                     (onDeSelect)="handleDeSelect($event, 'selectedPeriod')"
          ></app-multiselect-drop-down>
        </div>
      </div>
      <!--<div class="sidebar-form-control">-->
        <!--<p class="title">Channel</p>-->
        <!--<div class="sidebar-container">-->
          <!--<app-multiselect-drop-down [data]="channelData"-->
                                     <!--[selectedItems]="selectedChannel"-->
                                     <!--[loading]="loading"-->
                                     <!--[settings]="settings"-->
                                     <!--[dropDownAction]="this"-->
                                     <!--(onSelect)="handleSelect($event, 'selectedChannel')"-->
                                     <!--(onDeSelect)="handleDeSelect($event, 'selectedChannel')"-->
          <!--&gt;</app-multiselect-drop-down>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="sidebar-form-control">
    <button (click)="search()">SEARCH</button>
  </div>
</app-sidebar1>
<div class="app-container">
  <div class="col-lg-12 col-md-12" style="margin: 0px 0px 20px">
    <p class="pull-left page-title">RECONCILIATION</p>
    <div class="pull-right">
      <a (click)="handleShowModal(UploadInvoice)" class="btn btn-secondary"><i class="fa fa-fw fa-upload" aria-hidden="true"></i>Upload Invoice</a>
      <a (click)="reLoad()" class="btn btn-secondary"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
    </div>
  </div>
  <div style="padding-top: 35px">
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 [dataObject]="dataObject" identity="reconciliation" [sendResponseOnCheckboxClick]=true
      (triggerActions)="handleRow($event)"></app-data-table2>
    </div>
    <div class="page-header" *ngIf="!dataObject.isDataAvailable">
      <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%;">There is no data to display.</div>
    </div>
  </div>
</div>
</div>
<div style="position: relative" *ngIf="hideTable">
  <div class="pull-right" style="position: absolute; right: 0; z-index: 1">
    <a (click)="showReDashboard()" class="button btn btn-success" style="background-color: #0777bc"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back To Reconciliation Dashboard</a>
  </div>
  <app-reconciliation-profiles [period]="selectedPeriod" [supplier]="selectedSupplier" [invoiceId]="selectedInvoice" [invoiceNumber]="selectedInvoiceNumber"></app-reconciliation-profiles>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
<div style="width:100%">
  <app-pop-up-modal #UploadInvoice>
    <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
      Upload Channel Invoice
    </div>
    <div class="app-modal-body">
      <div class="content">
        <div class="form">
          <div class="form-group-fields">
            <label class="col-lg-4 col-md-4" style="padding-left: 0px">Channel : </label>
            <select2 width="100%"
                     class="col-lg-8 col-md-8 form-field"
                     style="padding: 0px; line-height: 1.42857143;"
                     [value]="uploadModel.channel"
                     [options]="select2Options"
                     (valueChanged)="OnSelectValueChange($event);"
                     [data]="channelOptions">
            </select2>
          </div>
          <p style="clear: both"></p>
          <div class="form-group-fields">
            <label class="col-lg-4 col-md-4" style="padding-left: 0px">Email : </label>
            <div class="col-lg-8 col-md-8 form-field" style="padding: 0px; border: 1px solid #aaa; border-radius: 4px">
              <app-tag2 [maxItems]="1" [dataModel]="uploadModel.emails" primaryPlaceholder="Add Email Addresses" validation_func="email_validation" validationMessages="Please be sure to use a valid email format"
                        secondaryPlaceholder="Add Email" (updateDataModel)="_updateDataModel($event)" ></app-tag2>
            </div>
          </div>
          <!--<p style="clear: both"></p>-->
          <!--<div class="form-group-fields">-->
            <!--<label class="col-lg-4 col-md-4" style="padding-left: 0px">Comments : </label>-->
            <!--<div class="col-lg-8 col-md-8 form-field" style="padding: 0px;">-->
              <!--<textarea style="height: 50px; width: 100%; border-radius: 4px; border-color: #aaa" [(ngModel)]="uploadModel.comments"></textarea>-->
            <!--</div>-->
          <!--</div>-->
          <p style="clear: both"></p>
          <div class="form-group-fields">
            <label class="col-lg-12 col-md-12" style="padding-left: 0px">File : </label>
            <div class="col-lg-12 col-md-12 form-field" style="padding: 0px;">
              <app-file-uploader [uploadedFile]="uploadModel.file" [acceptType]="'.pdf'" (processFile)="OnProcessFile($event)"></app-file-uploader>
            </div>
          </div>
          <p style="clear: both"></p>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" [disabled]="!validated()" [style.cursor]="!validated() ? 'not-allowed' : 'pointer'" [style.opacity]="!validated() ? 0.7 : 1"  class="action-btn" (click)="OnUpload(UploadInvoice)">
        Submit
      </button>
      <button type="button" class="inaction-btn" (click)="handleCloseModal(UploadInvoice)">
        Close
      </button>
    </div>
  </app-pop-up-modal>
</div>
