<app-header (hasSubMenus)="_hasSubMenus($event)"></app-header>
<div class="clearfix"></div>
<!-- END HEADER  -->
<!-- BEGIN CONTAINER -->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 colo-sm-9">
            <div class="row">
                <div class="content-area content-scroll" [style.padding-top]="hasSubMenu ? '90px' : '50px'">
                    <div class="breadcrumbs">
                        <mc-breadcrumbs></mc-breadcrumbs>
                    </div>
                    <router-outlet></router-outlet>
                    <!-- BEGIN FOOTER --> <!-- removing fixed footer -->
                    <!--<app-footer></app-footer>-->
                    <!-- BEGIN FOOTER -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
