<h3>
  Analytics
</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
    <label for="">Start Date: </label> <span>{{startDate}}</span> <br>
    <label for="">End Date: </label> <span>{{endDate}}</span> <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th *ngFor="let header of analyticsResponseHeader">{{header.name.replace(regexSpace, ' $1').replace('ga:','').replace('dimension1', 'User Id') | titlecase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let body of analyticsResponseBody">
          <td class="text-primary" (click)="getgoogleUser(body[0])" style="cursor: pointer;">{{ body[0].replace('go', '') }}</td>
          <td *ngFor="let col of body | slice:1; let i = index">{{ col }}</td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="userDetail">
      <div class="col-sm-12">
        <label for="">User Id:&nbsp;</label><span>{{ userId }}</span><br>
      <label for="">Email:&nbsp;</label><span>{{ emailId }}</span>
        <br><br>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th *ngFor="let header of userDetailHeader">{{header.name.replace(regexSpace, ' $1').replace('ga:','') | titlecase}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let body of userDetailBody">
            <td *ngFor="let col of body">{{ col }}</td>
          </tbody>
        </table>
      </div>
    </div>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>