.modal {
  background: rgba(0,0,0,0.6);
  .modal-header {
    background-color :#337ab7;
    padding: 0px;
    height: 15px;
  }
  .modal-content {
    height: 250px;
  }
  .modal-body {

  }
  .modal-footer {

  }
}
