<div class="form">
    <div class="col-lg-12 col-md-12" style="padding-left: 0px">
        <p class="pull-left page-title">LINE ITEM HISTORY : {{displayLineItemID ? displayLineItemID : lineItemID}}</p>
    </div>
    <div class="">
        <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
            <app-data-table2 tableId="lineItemHistory_dataTable" identity="lineItemHistory"
                             height="48vh"
                             [dataObject]="dataObject"
                             [sendResponseOnCheckboxClick]=false>
            </app-data-table2>
        </div>
        <div class="clearfix"></div>
        <div class="page-header" *ngIf="!dataObject.isDataAvailable">
            <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
            <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%; margin-top: 10px">There is no data to display.</div>
        </div>
    </div>
</div>

