<div class="col-lg-12 col-md-12">
  <p class="pull-left page-title">PAYMENTS</p>
  <div class="pull-right">
    <!-- create transaction button functionality removed -->
    <!-- <a title="Create Payment" class="btn btn-success" (click)="handleShowModal(AddPayment)" href="javascript:void(0)">CREATE TRANSACTION</a>  -->
    <a (click)="reLoad()" class="btn btn-secondary"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>Reload</a>
  </div>
</div>
<div *ngIf="isRoot">
  <label class="col-xs-12 col-sm-1" style="position: relative; top: 7px">Select Org: </label>
  <div class="col-xs-12 col-sm-6">
    <select2 width="resolve" *ngIf="orgArr.length"
             class="col-lg-12 col-md-12"
             style="padding: 0px;"
             [value]="orgValue"
             (valueChanged)="OnOrgChange($event);"
             [data]="orgArr"></select2>
  </div>
</div>
<p style="clear: both"></p>
<div *ngIf="summary.length" style="background-color: #FFF; width: 100%;margin-top: 10px; padding: 10px 0px">
  <div style="margin:0px 0px 20px 13px; font-size: 18px;">
    <span>Summary</span>
  </div>
  <div *ngFor="let item of summary; let i = index;">
     <div style="margin: 5px 13px;">
       <span>{{item.type}}</span> : <span>{{item.amount}}</span>
     </div>
  </div>
</div>
<div>
  <div>
    <div class="gridOverflow pull-left" style="padding: 20px" *ngIf="dataObject.isDataAvailable">
      <app-data-table2 [dataObject]="dataObject"  height="30vh" (triggerActions)="this[$event.action]($event)"></app-data-table2>
      <!--<app-data-table1 [dataObject]="dataObject" [id]="dashboard" [height]="height"></app-data-table1>-->
    </div>
    <div class="clearfix"></div>
    <div class="page-header" style="margin: 0px" *ngIf="!dataObject.isDataAvailable">
      <app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
      <div style="height: 200px;background-color: #ffff; width: 100%;padding: 17% 42%; margin-top: 10px">There is no data to display.</div>
    </div>
  </div>
</div>
<app-custom-spinner *ngIf="showSpinner" class="page-spinner"></app-custom-spinner>
<div style="width:100%">
    <app-pop-up-modal #AddPayment>
      <div class="app-modal-header" style="margin: 15px 0px 0px 10px">
        Add Transaction
      </div>
      <div class="app-modal-body">
        <div class="content">
          <!-- <button type="button" class="btn btn-primary" (click)="newForm = !newForm" style="width: 170px"><span *ngIf="newForm">Old Form</span><span *ngIf="!newForm">New Form</span></button> -->
          <form *ngIf="!newForm" [formGroup]="paymentForm" novalidate (keydown.enter)="$event.preventDefault()">
            <div class="form">
                <div class="form-group-fields">
                    <label class="col-lg-4 col-md-4 ">Org : </label>
                    <select2 width="100%" class="col-lg-8 col-md-8 select2-field"
                    [value]="selectedOrg"
                    (valueChanged)="OnOrgChanged($event);"
                    [data]="organizations"
                    ></select2>
                  </div>
                  <div class="form-group-fields" >
                      <label class="col-lg-4 col-md-4">Vendor : </label>
                      <select2 width="100%" placeholder="Select" class="col-lg-8 col-md-8 select2-field"
                      [value]="selectedVendor"
                      (valueChanged)="OnVendorChanged($event);"
                      [data]="vendors"
                      ></select2>
                    </div>
                    <div class="form-group-fields">
                        <label class="col-lg-4 col-md-4">Transaction Type : </label>
                        <div class="col-lg-8 col-md-8 checkbox-field">
                            <input type="radio" value="ar" formControlName="type" [(ngModel)]="paymentModel.type" > AR
                            <input type="radio" value="ap" formControlName="type" [(ngModel)]="paymentModel.type" > AP
                        </div>
                    </div>

                    <div class="form-group-fields" *ngIf="paymentModel.type === 'ap'">
                      <label class="col-lg-4 col-md-4">Payment Method : </label>
                      <select2 width="100%"   class="col-lg-8 col-md-8 select2-field"

                      [value]="selectedPaymentMethod"
                            (valueChanged)="OnPaymentMethodChanged($event);"
                            [data]="paymentMethodOptions"
                      ></select2>
                    </div>


              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">Amount: </label>
                <input formControlName="amount" type="text" [(ngModel)]="paymentModel.amount" name="amount" class="col-lg-8 col-md-8 form-field"  />
                {{paymentModel.amount.dirty}}
                <!--<div *ngIf="paymentModel.amount.invalid && (paymentModel.amount.dirty || paymentModel.amount.touched)" class="alert alert-danger">-->
                  <!--<div *ngIf="paymentModel.amount.errors">-->
                    <!--Amount is required.-->
                  <!--</div>-->
                <!--</div>-->
              </div>
              <div class="col-lg-12 col-md-12 form-field" *ngIf="paymentForm.controls['amount'].invalid && (paymentForm.controls['amount'].dirty || paymentForm.controls['amount'].touched)" class="alert alert-danger">
                <div *ngIf="paymentForm.controls['amount'].errors.required">
                  Amount is required.
                </div>
                <div *ngIf="paymentForm.controls['amount'].errors.pattern">
                  Amount needs to be a number
                </div>
              </div>
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">External Request Id : </label>
                <input formControlName="invoiceRequestId" [(ngModel)]="paymentModel.invoiceRequestId"  type="text" class="col-lg-8 col-md-8 form-field"/>
              </div>
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">Memo  : </label>
                <input formControlName="memo" type="text"  [(ngModel)]="paymentModel.memo" class="col-lg-8 col-md-8 form-field"/>
              </div>
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4">Status : </label>
                <select2 width="100%"   class="col-lg-8 col-md-8 select2-field"

                [value]="selectedStatus"
                      (valueChanged)="OnStatusChanged($event);"
                      [data]="statusOptions"
                ></select2>
              </div>

              <div *ngIf="error && error.message" style="text-align: center">
                <span [class]="error.type === 'success' ? 'success' : 'fail'">{{error.message}}</span>
              </div>
            </div>
          </form>
          <hr>
          <form *ngIf="newForm" [formGroup]="paymentFormNew" novalidate (keydown.enter)="$event.preventDefault()">
            <div class="form paymentFormNew">
              <div class="form-group-fields">
                <label class="col-lg-4 col-md-4 ">Payee : </label>
                <select2 width="100%" class="col-lg-8 col-md-8 select2-field"
                [value]="selectedPayee"
                (valueChanged)="OnPayeeChanged($event);"
                [data]="payeeArr"
                ></select2>
              </div>
              <!-- <div class="form-group-fields" *ngIf="!InvoiceArr.length && selectedPayee"><label class="col-lg-4 col-md-4">No invoice present</label></div> -->
              <div *ngIf="selectedPayee">
                <!-- <div class="form-group-fields" >
                  <label class="col-lg-4 col-md-4">Invoice : </label>
                  <select2 width="100%" placeholder="Select" class="col-lg-8 col-md-8 select2-field"
                  [value]="selectedInvoice"
                  (valueChanged)="onInvoiceChange($event);"
                  [data]="InvoiceArr"
                  ></select2>
                </div> -->
                <div class="form-group-fields clearfix">
                  <label class="col-lg-4 col-md-4">Invoice : </label>
                  <div class="col-lg-8 col-md-8" style="position: relative; padding: 0;">
                    <input type="text"
                    class="form-field" style="Width: 100%"
                    (keyup)="onSearchChange($event.target.value)"
                    placeholder="Search"
                    formControlName='searchcontentInput'>
                    <span (click)="clearSearch()" class="clearSearch"><i class="fa fa-close"></i></span>
                    <div *ngIf="matchingResults.length; else noMatch" style="position: absolute; height: 200px; overflow: scroll; background-color: white; width: 100%; z-index: 10000; border: 1px solid #cbcbcb; border-top: none">
                      <ul style="list-style: none; padding-left: 5px">
                        <li class="matching-results" *ngFor="let ele of matchingResults; let i = index;">
                            <span style="display: block" (click)="OnSearchSelect(ele)">{{ele.invoice_number}}</span>
                        </li>
                      </ul>
                    </div>
                    <ng-template #noMatch>
                      <div *ngIf="(paymentFormNew.get('searchcontentInput').value && dropList)" style="position: absolute; height: 40px; overflow: scroll; background-color: white; width: 100%; z-index: 10000; margin-left: 0px; border: 1px solid #cbcbcb; border-top: none">
                        <span *ngIf="!inSearchMode; else searching" style="font-size: 12px; padding-left: 5px">No Match Found</span>
                        <ng-template #searching>
                            <span style="font-size: 12px; padding-left: 5px">Searching ...</span>
                        </ng-template>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <!--  -->
                <div *ngIf="lineItemInvoice">
                  <div class="form-group-fields">
                    <div class="row margin0">
                      <div class="col-sm-3"><label>Invoice Number</label></div>
                      <div class="col-sm-3"><label>Amount Due</label></div>
                      <div class="col-sm-3"><label>Partial Payment ?</label></div>
                      <div class="col-sm-3" *ngIf="paymentFormNew.get('payPartialCheck').value"><label>Pay Amount</label></div>
                    </div>
                    <div class="row margin0">
                      <div class="col-sm-3"><span class="paymentText">{{lineItemInvoice.text}}</span></div>
                      <div class="col-sm-3"><span class="paymentText">{{totalPayment | currency:"USD":true:'1.0-0'}}</span></div>
                      <div class="col-sm-3"><input type="checkbox" formControlName="payPartialCheck"></div>
                      <div class="col-sm-3" *ngIf="paymentFormNew.get('payPartialCheck').value">
                        <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="text" numeric numericType="decimal" class="form-control" style="width:100%" formControlName="payPartialInput">
                        </div>
                        <div class="alert alert-danger" *ngIf="paymentFormNew.get('payPartialInput').invalid && (paymentFormNew.get('payPartialInput').dirty || paymentFormNew.get('payPartialInput').touched)">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                          <span *ngIf="paymentFormNew.get('payPartialInput').errors['partialExceeds']">
                            Partial amount exceeds amount due.
                          </span>
                          <span *ngIf="paymentFormNew.get('payPartialInput').errors['negativeNumber']">
                            Amount cannot be null or zero.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-fields" *ngIf="paymentFormNew.get('payPartialCheck').value">
                    <div class="row margin0">
                      <div class="col-sm-4"><label>Line Item</label></div>
                      <div class="col-sm-4"><label>Due Amount</label></div>
                      <div class="col-sm-4"><label>Pay Amount</label></div>
                    </div>
                    <div formArrayName="lineItemPartialInputArr">
                      <div class="row lineItemPartial" *ngFor="let control of paymentFormNew.get('lineItemPartialInputArr').controls; let i = index;" >
                        <div class="col-sm-4"><span class="paymentText">{{lineItemPartial[i].line_item_id}}</span></div>
                        <div class="col-sm-4"><span class="paymentText">{{lineItemPartial[i].amount | currency:"USD":true:'1.0-0'}}</span></div>
                        <div class="col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" numeric numericType="decimal" class="form-control" style="width:100%" [formControlName]="i">
                          </div>
                          <div class="alert alert-danger" *ngIf="control.invalid && (control.dirty || control.touched)">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <span *ngIf="control.errors['partialExceeds']">
                              Line Item partial amount exceeds amount due.
                            </span>
                            <span *ngIf="control.errors['negativeNumber']">
                              Amount cannot be null or zero.
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group-fields">
                <div class="alert alert-danger" *ngIf="verifyLineAmountError">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <span>
                    Total of line pay amount exceeds total pay amount.
                  </span>
                </div>
                <div class="alert alert-danger" *ngIf="verifyLineItemPartialInputArr">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  <span>
                    Pay amount cannot be null or zero.
                  </span>
                </div>
              </div>
              <div class="form-group-fields">
                <button class="action-btn" type="button" (click)="newFormSubmit(AddPayment)">Submit</button>
                <button type="button" class="inaction-btn" (click)="closeModal(AddPayment)">
                  Close
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="app-modal-footer" *ngIf="!newForm">
        <button type="button" class="btn btn-primary" [disabled]="!paymentForm.valid" [style.cursor]="!paymentForm.valid ? 'not-allowed' : 'pointer'" (click)= "OnSubmit(AddPayment)">
          Add
        </button>
        <button type="button" class="btn btn-secondary" (click)="handleCloseModal(AddPayment)">
          Close
        </button>
      </div>
    </app-pop-up-modal>
</div>
