.payment-modal-header{
  margin: 15px 0px 0px 10px;
}
.form-field {
  display: block;
  /* width: 100%; */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.checkbox-field{
  display: block;
  /* width: 100%; */
  height: 34px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
}

.form-group-fields {
  position: relative;
  transition: all 2s;
  -webkit-transition: all 2s;
  margin: 20px;
  padding-bottom: 25px;
}

.success {
  color: green;
}
.fail {
  color: red;
}
.select2-field
{
  padding: 0px;
  line-height: 1.42857143
}

.paymentFormNew{
  .margin0{
    margin: 0;
  }
  .lineItemPartial{
    margin: 20px 0;
  }
  .paymentText{
    font-size: 12px;
  }
  .form-control{
    border-radius: 0 4px 4px 0;
  }
  .form-control.ng-invalid.ng-touched{
    border: 1px solid #a94442;
  }
  .form-control:focus.ng-invalid.ng-touched{
    border: 1px solid #a94442 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #a9444299;
  }
  .alert.alert-danger>i{
    margin-right: 5px;
  }
  .clearSearch{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

