<span class="tag-wrap">
  <div class="form-group">
    <tag-input
        [onlyFromAutocomplete]=onlyFromAutocomplete
        [(ngModel)]='inputValues'
        [inputClass]= tagDisable
        [removable]= removableData
        [editable]= editableData
        [clearOnBlur]='true'
        [placeholder]=placeHolder
        [secondaryPlaceholder]=secondaryPlaceHolder
        [disable] = disableData
        >
        <tag-input-dropdown 
          [showDropdownIfEmpty]="true"   
          [autocompleteItems]=tagDropDownValues>
        </tag-input-dropdown>
    </tag-input>
    <div class="valid-msg">
      Required Field
    </div>
</div>
</span>
